/* biblepage.css */

/* left hand sidebar related styling */

.leftsidebar {
     float:left;
     width:220px;
     margin-top:3px;
     /*
     -moz-border-radius: 10px; 
     border-radius: 10px; 
     background-color:#402C1A;
     */ 
}

/* right hand sidebar related styling */

.rightsidebar {
     float:right;
     width:220px;
     margin-top:3px;
     background-color:#64091D; /* wine red */
     -moz-border-radius: 10px; 
     border-radius: 10px; 
     padding-top:10px;
}
.rightsidebar p {
     padding-bottom:3px;
     padding-top:3px;
}
.rightsidebar h4 {
     margin-left: 10px;
     margin-right: 10px;
     margin-top:3px;
     border-top:solid 1px silver;
     border-bottom:solid 1px silver;
     text-align:center;
     color:silver;
     background-color:#808080;
     padding: 4px;
     font-size: 1.1em;
}

.rightsidebar h5 {
     font-size: 1.1em;
     color:#4FA7FF;
     margin-top:12px;
     margin-left: 10px;
     margin-bottom:2px;
}

.chapternavigation {
     margin-left:auto;
     margin-right:auto;
     margin-top: 5px;
     margin-bottom:20px;
     width: 200px;
     table-layout: fixed;
}
.chapternavigation td {
     border:solid violet 1px;
     padding: 2px;
     font-size:small;
     text-align:center;
}
#currentchapterhighlight {
     background-color:silver;
     color: silver;
     color: black;
     color: #790079; /* purple */
}
.chapternavigation a {
     color: #a0a0a0;
     color:#AB7645;
     color:violet;
     text-decoration:none;
}
.versenavigation {
     border:solid violet 1px;
     color:#808080;
     margin-top:5px;
     margin-left:10px;
     margin-right:10px;
     margin-bottom:10px;
     padding:5px;
}
.versenavigation p {
     color:violet;
     font-size: 0.9em;
     margin-bottom:5px;
}
#vref {
      width: 100px;
      border-style:none;
      border:solid 1px silver;
      background-color:#E0B4DC;
      color:black;
}
#gotoverse {
      border-style:none;
      border:solid 1px silver;
      margin-left:5px;
      background-color:violet;
}

/* Bible page related styling */

.biblepage {
     float:left;
     margin-top:3px;
     margin-left: 5px;
     margin-right: 5px;
     background-color: #FFFFFF;
	 padding-top: 7px;
	 padding-bottom: 7px;
	 padding-left: 15px;
	 padding-right: 15px;
     -moz-border-radius: 10px; 
     border-radius: 10px; 
     width: 544px;
}
.bp_head_foot {
     width:100%;
     margin-top:5px;
     margin-bottom:5px;
     padding-top:5px;
     padding-bottom:5px;
     border-top:solid 1px black;
     border-bottom:solid 1px black;
     background-color:#EEEEEE;
}

.bp_head_foot img {
     vertical-align:text-bottom;
}

.highlightverse {
    padding: 6px;
    text-indent: 1em;
    line-height:1.3em;
    background-color:lemonchiffon;
}
.verse {
     padding: 6px;
     text-indent: 1em;
     line-height:1.3em;
}
.verse i {
     color:blue;
}
woc {
     color: red;
}

woc a {
     color:red;
     text-decoration:underline;
}
.verse woc i {
     color:red;
}
todo a {
     color:black;
     background-color:#FFFF00;
     text-decoration:underline;
     font-size:xx-small;
     vertical-align:super;
}

/* bible index page styling */
.indexpage {
     width: 544px;
}

.indexpage b {
     color:purple;
}
.indexnavigation {
     background-color: #a7a7a7;
     width:100%;
     background:transparent;
     table-layout: fixed;
     margin-top:3px;
}
.indexnavigation td {
     border:solid #D37BDD 1px;
     padding: 2px;
     background-color:#F0D1F3;
     font-size:small;
     text-align:center;
}
.indexnavigation a {
     color: purple;
     text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    color:purple;
    text-align:center;
    margin-bottom:2px;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    color:purple;
    text-align:center;
    margin-bottom:2px;
}
h3 {
    font-size: 1.4em;
    font-weight: bold;
    color:#AA2EB8;
    margin-top:12px;
    margin-bottom:10px;
}
h4 {
    font-size: 1.0em;
    font-weight: bold;
    color:#808080;
    text-align:center;
}
