/* biblepage_print.css */

body {
     font-size: 16pt;
}
.container {
     width:100%;
     margin:0px;
}

.contentblock {
     width:100%;
     margin:0px;
     page-break-before:avoid;
}

.headerblock {
     width:100%;
     page-break-inside:avoid;
     float:none;
}

.logoblock {
     margin-right:0px;
}

.logoverse {
     margin-right:0px;
}

.logoverse p {
     margin-right:0px;
}

.logoverse a {
     margin-right:0px;
}

.verse {
     padding-left:0px;
     padding-right:0px;
     page-break-inside:avoid;
     orphans:3;
     line-height:1.6em;
}

/* left hand sidebar related styling */

.leftsidebar {
display:none;
}

/* right hand sidebar related styling */

.rightsidebar {
display:none;
}

/* Bible page related styling */

.biblepage {
     margin:0;
     width:100%;
     float:none;
	 padding-left: 0px;
	 padding-right: 0px;
     -moz-border-radius: 0px; 
     border-radius: 0px; 
     page-break-before:avoid;
}

/* bible index page styling */
.indexpage {
     margin:0;
     width:100%;
     float:none;
	 padding-left: 0px;
	 padding-right: 0px;
     -moz-border-radius: 0px; 
     border-radius: 0px; 
     page-break-before:avoid;
}

.indexnavigation {
     page-break-before:avoid;
     page-break-inside:avoid;
}

.bp_head_foot {
     margin:0;
     width:100%;
}

.bp_head_foot img {
display:none;
}

.footerblock a {
display:none;
}
