/* common.css - Stylesheet to override bootstrap defaults and share styling common to all website pages */

body {
    /* set default colours */
    background-color: #d1c4e9; 
    color: purple;

    /* set font defaults */
    font-size: 16px;
}

/* image header beneath menu */

.headerblock {
    background-image: url("../images/head.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 100px;
}

.logoverse {
    width: auto;
    padding:5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana,Geneva,sans-serif;
    text-align: right;
    font-size: 0.9em;
    font-weight: bold;
    text-shadow: 0 0 0.3em black, 0 0 0.3em black,0 0 0.3em black,0 0 0.3em black;
}

.logoverse p {
    font-style: italic;
    color: violet;
}

.logoverse a {
    text-decoration: none;
    color: violet;
}

.logoverse a:hover {
    text-decoration: none;
    color: violet;
}

.woc {
    color:red;
}

.panel {
    margin-bottom: 1px;
}
.panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.2em;
}
.panel-heading a {
    display: block;
}
.jumbotron {
    background-image: url(../images/home2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 10px;
    color: white;
    text-shadow: 0 0 0.3em black, 0 0 0.3em black, 0 0 0.3em black, 0 0 0.3em black;
}

h1 {
    margin-top: 10px;
    color: purple;
}

h2 {
    color: purple;
}

.img-thumbnail {
    border-color: purple; 
}

.featurette-divider {
    border-color: purple;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* navbar */
.navbar {
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #6a1b9a; 
    border-color: #6a1b9a; 
    margin-bottom: 10px;
}

/* title */
.navbar-default .navbar-brand {
    color: white; 
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white; 
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: white; /* #777; */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: lightskyblue; /* #333; */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white; 
    background-color: #6a1b9a; 
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #6a1b9a; 
    background-color: #D5D5D5;
}

/* caret initial color */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white; 
    border-bottom-color: white; 
}

/* caret color to use when hover/focus on navbar drop-down option */
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: lightskyblue;
    border-bottom-color: lightskyblue;
}

/* color to use when open navbar drop-down option */
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #6a1b9a; /* purple; */
    border-bottom-color: #6a1b9a; /* purple; */
}

/* mobile version - hamburger menu button */
.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: lightskyblue;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white; 
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white; /* #777;*/
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: lightskyblue; 
    }
}

.dropdown-menu > li > a:hover {
    background-color: lightskyblue;
}

