/* biblepage.css */

.col-md-4 {
    padding-left: 0px;
}
@media (max-width: 991px) {
    .col-md-4 {
        padding-left: 15px;
    }
}

/* Bible navigation */
.biblenavigation {
    background-color: #64091D; /* wine red */
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* Go To Bible reference */

.versenavigation {
    border: solid #b388ff 1px;
    padding: 10px;
}

.versenavigation label {
    color: #b388ff;
    font-size: 1em;
}

#vref {
    border: solid 1px silver;
    background-color: #E0B4DC;
    padding: 3px;
    margin-right: 5px;
    color: black;
    width: 60%;
}

#gotoverse {
    border: solid 1px silver;
    background-color: purple; /* violet; */
}

/* Go To Chapter */

.chapternavigation {
    margin-top: 5px;
    margin-bottom: 5px;
    table-layout: fixed;
    width: 100%;
}

.chapternavigation td {
    border: solid #b388ff 1px;
    padding: 7px;
    text-align: center;
}

#currentchapterhighlight {
    background-color: #b388ff; 
    color: #790079; /* purple */
}

.chapternavigation a {
    display: block;
    color: #b388ff;
    text-decoration: none;
}

/* Bible page related styling */

.biblepage {
    margin-top: 0px;
    background-color: #FFFFFF;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 1px purple;
}

.bp_head_foot {
    width: 100%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: #EEEEEE;
    margin-bottom: 7px;
    margin-top: 7px;
}

.bp_head_foot img {
    display:block;
}

.nav-arrow {
    width: 20px;
}

.highlightverse {
    padding: 6px;
    text-indent: 1em;
    line-height: 1.3em;
    font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    background-color: lightpink;
}

.verse {
    padding: 6px;
    text-indent: 1em;
    line-height: 1.3em;
    font-family: Verdana, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}

.verse i {
    color: blue;
}

.woc i {
    color:red;
}

.verse:hover {
    background-color: lemonchiffon;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: purple;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 0px;
}

h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top:solid 1px #b388ff;
    border-bottom:solid 1px #b388ff;
    color:purple;
    background-color: #ce93d8;
    padding: 2px;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
    color: #b388ff;
}

/* bible index page styling */
.panel {
    margin-bottom: 1px;
}
.panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.2em;
}
.panel-heading a {
    display: block;
}
.indexnavigation {
    background-color: #a7a7a7;
    width: 100%;
    background: transparent;
    table-layout: fixed;
    margin-top: 3px;
    margin-bottom: 3px;
}

.indexnavigation td {
    border: solid #D37BDD 1px;
    padding: 7px;
    background-color: #F0D1F3;
    text-align: center;
}

.indexnavigation a {
    display: block;
    color: purple;
    text-decoration: none;
}

