/* resource_page.css */

/* Bible navigation */
.biblenavigation {
  background-color: #64091D; /* wine red */
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Go To Bible reference */

.versenavigation {
  border: solid #b388ff 1px;
  padding: 10px;
}

.versenavigation label {
  color: #b388ff;
  font-size: 1em;
}

.versenavigation form a {
  border: solid 1px silver;
  background-color: purple; 
  padding: 5px;
}

#vref {
  border: solid 1px silver;
  background-color: #E0B4DC;
  padding: 3px;
  margin-right: 5px;
  margin-bottom: 7px;
  color: black;
  width: 60%;
}

#gotoverse {
  border: solid 1px silver;
  background-color: purple; 
}

ul.affix {
	position: fixed; 
	top: 0px;
}
ul.affix-top {
	position: static;
}
ul.affix-bottom {
	position: absolute;
}

.alert-info {
   background-color: lightgray;
   color: purple;
   font-size: 1.2rem;
   border-color: rebeccapurple;
}

.woc {
    color:#d32f2f;
}

#myScrollspy ul > li > a {
    text-align: right;
    font-size: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* right hand sidebar related styling */

.rightsidebar {
    background-color: #64091D; /* wine red */
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rightsidebar p {
     color:violet;
     font-size:0.9rem;
     line-height: 125%;
     margin-top: 5px;
}

h1 {
    margin-top: 0px;
    font-size: 1.6rem;
    font-weight: bold;
    color:purple;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color:#AA2EB8;
    margin-top:14px;
    margin-bottom:10px;
}
h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top:solid 1px #b388ff;
    border-bottom:solid 1px #b388ff;
    color:purple;
    background-color: #ce93d8;
    padding: 2px;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #b388ff;
    margin-top: 12px;
    margin-bottom: 2px;
}

#mugshot {
    margin-left: 5px;
    margin-bottom: 3px;
    float: right;
}

#tweet {
    margin-left: 5px;
    margin-bottom: 3px;
    float: right;
}

.highlightverse {
    padding: 6px;
    text-indent: 1.3rem;
    line-height: 1.3rem;
    font-size: 1rem;
    background-color: #fce4ec;
    /* 
    color: #707070;
    font-weight: 200;
    */
    color: black;
    position: relative; 
    border-right: solid 6px #6a1b9a;
}

.highlightverse b {
    color: black;
}

.verse {
    position: relative;
    padding: 6px;
    text-indent: 1.3rem;
    line-height: 1.3rem;
    font-size: 1rem;
    color: black;
    background-color: white;
    margin-bottom: 7px;
}

.verse b {
    color: black;
}

.verse:hover {
    background-color: lemonchiffon;
}

/* Verse todo list styling */ 

.tl-btn-open {
    position: absolute;
    top: 7px;
    left: 0px;
    width: 20px;
    color: blue;
}

.tl-btn-open:hover {
    cursor: pointer;
}

.tl-btn-close:hover {
    cursor: pointer;
}

.tl-btn-close {
    position: absolute;
    top: 7px;
    left: 0px;
    width: 20px;
    color: blue;
}

.tl-in-line-btn-close:hover {
    cursor: pointer;
}

.tl-in-line-btn-close {
    width: 20px;
    vertical-align: middle;
    margin-top: 3px;
    margin-right: 2px;
}

.tl-btn-hide {
    display: none;
}
.tl-hide {
    display: none;
}
.verse-todo-list {
    margin-left: 3%;
    background-color: lavender;
    border-left: solid 1px purple;
    border-right: solid 1px purple;
    border-bottom: solid 1px purple;
    margin-bottom: 7px;
}
.verse-todo-list-title {
    background-color: purple;
    color: white;
    text-align: center;
}
.verse-todo-item {
    padding: 3px;
    border-top: solid 1px purple;
}

.vlinks {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-primary {
    margin: 3px;
}

.panel-content {
    background-color: #d1c4e9;
}

