/* rootpage.css */

ul.affix {
	position: fixed; 
	top: 0px;
}
ul.affix-top {
	position: static;
}
ul.affix-bottom {
	position: absolute;
}

.alert-info {
   background-color: lightgray;
   color: purple;
   font-size: 1.4em;
   border-color: rebeccapurple;
}

.quoteverse {
    display:block;
    width: 80%;
    background-color: white;
    color: black;
    border-left: solid 3px gray;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 0.9em;
}

.quoteverse a {
    display: block;
    text-align: right;
}

#myScrollspy ul > li > a {
    text-align: right;
}
/* right hand sidebar related styling */

.rightsidebar {
    background-color: #64091D; /* wine red */
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rightsidebar p {
     color:violet;
     font-size:0.9em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
h1 {
    margin-top: 0px;
    font-size: 1.5em;
    font-weight: bold;
    color:purple;
}
h2 {
    font-size: 1.4em;
    font-weight: bold;
    color:#AA2EB8;
    margin-top:12px;
    margin-bottom:10px;
}
h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-top:solid 1px #b388ff;
    border-bottom:solid 1px #b388ff;
    color:purple;
    background-color: #ce93d8;
    padding: 2px;
}

h4 {
    font-size: 1.3em;
    font-weight: bold;
    color: #b388ff;
}

