/* tbpage.css */
/* standard page - no sidebars or menus */

body {
     background: url("../images/bg5.jpg") repeat scroll left top;
     min-width: 1024px;
     font-family: Verdana,Geneva,sans-serif;
     font-size: 11pt;
}

/* Page Container */
.container {
     width: 1024px;
     margin-left: auto;
     margin-right: auto;
     text-align:center;
}

/* Page header */

.headerblock {
     margin-top:0px;
     margin-bottom:3px;
     background:url("../images/header.jpg") no-repeat left top;
     background-size:1024px 75px;
     width:1024px;
     height:75px;
}
.headerblock a {
     text-decoration:none;
}

.logoblock {
     float:left;
     width:205px;
     margin-top:3px;
}
.logoblock h5 {
     font-size:2em;
     text-align:center;
}
.logoblock p {
     margin:3px;
     text-align:center;
     color:#28B9FF;
     font-size:1.1em;
}

.logoverse {
     float:right;
     width:210px;
     margin-top:3px;
     margin-left:auto;
     margin-right:4px;
}
.logoverse p {
     margin:4px;
     text-align:left;
     color:gold;
     font-size:0.9em;
     font-style:italic;
}
.logoverse a {
     display:block;
     margin-top:8px;
     text-align:right;
     text-decoration:underline;
     color:gold;
     font-size:0.8em;
     margin-right:4px;
}

.quoteverse {
     float:right;
     width:210px;
     margin-top:8px;
     margin-left:8px;
     margin-bottom:8px;
     border:solid 1px #D37BDD;
     background-color:#F0D1F3;
     color:purple;
}
.quoteverse p {
     display:block;
     text-align:left;
     margin:8px;
     color:purple;
     font-size:0.9em;
}
.quoteverse a {
     display:block;
     text-align:right;
     text-decoration:underline;
     color:purple;
     font-size:0.8em;
     margin:8px;
}

.quotebox {
     line-height:15px; 
     margin-top:6px;
     margin-bottom:8px;
     margin-left:auto;
     margin-right:auto;
     border:solid 1px #D37BDD;
     background-color:#F0D1F3;
     color:purple;
     text-align:center;
     width:75%;
     font-size:1.3em;
}
.quotebox p {
     margin-left:2px;
     font-size:0.8em;
}
.quotebox a {
     display:block;
     color:purple;
     margin:2px;
     padding:2px;
     text-align:right;
     font-size:0.6em;
}

.contentblock {
     display:inline-block;
     text-align:left;
     margin-left: auto;
     margin-right: auto;
}

/* menu bar related styling */

.p_menu {
    clear:both;
    WIDTH: 220px;
    PADDING-LEFT: 0px; 
    PADDING-RIGHT: 0px; 
    PADDING-BOTTOM: 0px; 
}
.p_menu A {
    DISPLAY: block; 
    FONT-SIZE: 1.1em; 
    font-weight:normal;
    TEXT-DECORATION: none;
    PADDING-TOP: 6px;
    PADDING-BOTTOM: 6px;
    padding-left:25px;
    width:195px; 
    margin-top:0px;
    margin-bottom:10px;
    margin-left:0px;
    margin-right:10px;
    border-bottom:white 1px solid;
    border-top:white 1px solid;
    background-color:#4981B2; /* light blue */
    color:white;
    background-image: url(../images/4x4white.png), url(../images/4x4white.png);
    background-position: 10px 13px, 205px 13px;
    background-repeat: no-repeat;
}
.p_menu A:hover {
    background-color:#19396A;
    color:gold;
}
.p_menu .Selected {
    background-color:#790079; /* purple */
    color:silver;
}

.p_submenu {
    clear:both;
    WIDTH: 205px;
    PADDING-LEFT: 15px; 
    PADDING-RIGHT: 0px; 
    PADDING-BOTTOM: 0px; 
}
.p_submenu A {
    DISPLAY: block; 
    FONT-SIZE: 1.0em; 
    font-weight:normal;
    TEXT-DECORATION: none;
    padding:6px;
    margin-top:0px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:0px;
    border-top:solid purple 1px;
    border-left:solid purple 4px;
    border-bottom:solid purple 1px;
    background-color:#F0D1F3;
    color:purple;
}
.p_submenu A:hover {
    background-color:#19396A;
    color:gold;
}
.p_submenu .Selected {
    border-top:solid #F0D1F3 1px;
    border-left:solid #F0D1F3 4px;
    border-bottom:solid #F0D1F3 1px;
    background-color:purple;
    color:silver;
}

.footerblock {
     clear:both;
     color:white;
     text-align:center;
     padding:7px;
}

.footerblock a {
     color:purple;
     font-size:0.7em;
     padding:8px;
     text-decoration:none;
}
