/* todopage.css */

/* tab header */

.tabheading {
     width:100%;
     margin-bottom:4px;
}
.tabheading a {
     text-decoration:none;
     color:purple;
}
.tabheading a:hover {
     text-decoration:underline;
}
.tabheading td {
     padding:5px;
     text-align:center;
     border-left:solid 2px purple;
     border-right:solid 2px purple;
     border-top:solid 2px purple;
     border-bottom:solid 3px purple;
     background-color:#E0B4DC;
     font-size:1.2em;
}
#current {
     padding:5px;
     text-align:center;
     border-left:solid 5px purple;
     border-right:solid 5px purple;
     border-top:solid 5px purple;
     border-bottom:none;
     background-color:white;
}
#filler {
     padding:5px;
     border-left:solid 2px purple;
     border-right:none;
     border-top:none;
     border-bottom:solid 3px purple;
     background-color:white;
}

.A2Z {
     width:100%;
     margin-top:5px;
     margin-bottom:5px;
     border-spacing:5px;
}

.A2Z a {
     text-decoration:none;
}

.A2Z td {
     padding-left:6px;
     padding-right:6px;
     text-align:center;
     background-color:#E2E2E2;
     color:white;
     font-size:1.2em;
     border:solid 2px white;
}

.BibleBooks {
     width:100%;
     margin-top:5px;
     margin-bottom:5px;
     border-spacing:5px;
}

.BibleBooks a {
     text-decoration:none;
}

.BibleBooks td {
     padding:4px;
     text-align:center;
     background-color:#E2E2E2;
     color:white;
     font-size:0.9em;
     border:solid 1px purple;
}

/* left hand sidebar related styling */

.leftsidebar {
     float:left;
     width:220px;
     margin-top:3px;
}

/* ToDo page related styling */

.todopage {
     float:left;
     margin-top:3px;
     margin-left: 5px;
     margin-right: 0px;
     background-color: #FFFFFF;
	 padding-top: 7px;
	 padding-bottom: 7px;
	 padding-left: 15px;
	 padding-right: 15px;
     border-radius: 10px; 
     width: 769px;
}
.bibletodolist {
     width:100%;
     font-size:1.1em;
}
.bibletodolist td {
     margin-right:15px;
     margin-top:3px;
     border:solid #D37BDD 1px;
     padding: 3px;
     font-size:0.9em;
}
.bibletodolist th {
     text-align:left;
     color:#AA2EB8;
     background-color:#E0B4DC;
     border:solid 1px purple;
     padding: 3px;
     font-size:1.1em;
}
.bibletodotopics {
     width:100%;
     font-size:1.1em;
}
.bibletodotopics td {
     border:solid #D37BDD 1px;
     padding: 3px;
     font-size:0.9em;
     vertical-align:text-top;
}
.bibletodotopics th {
     text-align:center;
     color:#AA2EB8;
     background-color:#E0B4DC;
     border:solid 1px purple;
     padding: 3px;
     font-size:1.1em;
}
.topic {
     text-align:left;
     color:purple;
     background-color:#E2E2E2;
     border:solid 1px purple;
     font-size:1.2em;
}
.biblebook {
     text-align:left;
     color:purple;
     background-color:silver;
     border:solid 1px purple;
     font-size:1.2em;
}

#tabs-1 {
     padding:0px;
     margin-top:5px;
     margin-bottom:3px;
}
#tabs-2 {
     padding:0px;
     margin-top:5px;
     margin-bottom:3px;
}

.verse {
     padding: 6px;
     text-indent: 1em;
     line-height:1.3em;
}
.keyverse {
     padding: 6px;
     line-height:1.3em;
}
woc {
     color: red;
}

woc a {
     color:red;
     text-decoration:underline;
}
todo a {
     color:black;
     background-color:#FFFF00;
     text-decoration:underline;
     font-size:xx-small;
     vertical-align:super;
}

.gotop {
     text-align:center;
}

.gotop a {
     color:purple;
     font-size:0.6em;
     text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
    color:purple;
    margin-bottom:2px;
}
h2 {
    font-size: 1.4em;
    font-weight: bold;
    color:#AA2EB8;
    margin-top:12px;
    margin-bottom:10px;
}
h3 {
    font-size: 1.0em;
    font-weight: bold;
    color:#808080;
    text-align:center;
}
