doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content='Jesus only did what He saw the Father do.')
    title Learning To Walk
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 Learning To Walk
              hr.featurette-divider

              p
                span.firstcharacter
                  | T
                | he Christian journey starts with being born again. We are then to learn to "walk in the Spirit" and be "Spirit led",
                | just like Jesus.

              h2 Born Again

              p
                | To be born again is to believe that God has a Son whose name is Jesus; that Jesus was crucified and died for the sins of the world;
                | that He was buried, and on the third day, that He rose again from the dead and now sits at the right hand of the Father in heaven as
                | King of kings and Lord of lords, the Saviour of the world.

              p
                | As a result of these beliefs, a born again believer receives the Holy Spirit as God's indwelling seal of ownership and promise on
                | their life as a child of God.

              p
                | The bible uses many metaphors to help us understand things from viewpoints that are already familiar to us from the world around us
                | and the stages in learning to walk are no exception.

              h2 Feed As We Read

              p
                | The born again believer has become a babe in Christ and, just like a baby, needs to begin to grow before learning how to walk.

              p
                a(href="/kjv/1peter_2.html?goto=2") 1 Peter 2:2
                |  says "As newborn babes, desire the sincere milk of the word, that ye may grow thereby" and so the believer begins to grow
                | by feeding on the Word of God to become wise.

              p 
                | Just as a baby has an intensive feeding pattern, even to the denial of sleep to the parents, so the newly born again believer 
                | needs to feed intensively on God's Word in order to grow.

              p
                | Believers are encouraged to gain wisdom with all diligence. 
                a(href="/kjv/proverbs_4.html?goto=7") Proverbs 4:7
                |  declares "Wisdom is the principal thing; therefore get wisdom: and with all thy getting get understanding."

              p 
                | The on-going diligent pursuit of wisdom and understanding should be the staple diet of any Christian.

              h2 We Start On Our Knees

              p
                | We are all familiar with seeing babies learning to crawl on their hands and knees and so too the believer starts life on their
                | knees in prayer and worship.

              p
                | Prayer is how we enter into first-hand relationship with God. Worship is how we respond to what 
                | He has done for us.

              p 
                | Praise and worship should also be part of the staple diet of any Christian.

              h2 Learning To Stand

              p
                | In order to stand we must get to our feet and learn to keep our balance.
              
              p
                | Having a sound knowledge of true Christian doctrine and a clear understanding of our identity in Christ stops us from wavering
                | and losing our balance, enabling us to stand. Such learning should be treated as a priority to avoid frequent wavering and falling down.

              p 
                | Just as children need a mother and father to teach them, so the new Christian needs mature Christian guidance.
                | This can be challenging for many new believers for who do not spend time in prayer or reading the Word of God.

              p 
                a(href="/kjv/1corinthians_4.html?goto=15") 1 Corinthians 4:15
                |  warns us "For though ye have ten thousand instructors in Christ, yet have ye not many fathers".
                | The church needs many fathers to nurture its children to maturity.

              p 
                | Just as young children should not be left unattended, so the new Christian should not be left to their own devices to grow in the faith.

              p 
                | Good bible teaching and resources are a great blessing and must be prayerfully sought.

              p 
                | Without proper support from the church, or a God-given hunger for spiritual growth, many new Christians stagnate in learning to stand and never 
                | progress to walking in the Spirit.

              h2 Our First Steps

              p
                | Almost any parent can remember the first steps of their child but for many new Christians,
                | first steps in the faith are not memorable because we often set out with the same 
                | rebellious and self-sufficient attitude that we had before we were born again and because we still have much to learn.

              p 
                | Initially we still have our carnal nature and have yet to become spiritually minded.

              p
                | We are not to be carnally minded, trusting in our own understanding and wisdom, walking in the counsel of the ungodly, or relying
                | on our own talents, gifts and efforts. The bible describes this worldly approach as "walking in the flesh".

              p 
                | God gave us each a body to live in but we are not to be ruled by it and be carnally minded. The part of a person that God breathed into
                | that is eternal, royal and has a likeness to Him, is the spirit. Our spirit is who we really are, not our body. 

              p 
                | As we gain confidence in our steps, mixed with what we learn spiritually, our faith begins to grow also.

              h2 Choosing His Direction

              p
                | As believers we are to be followers of Christ. We are to "deny ourselves, take up our cross, and follow Him". (See 
                a(href="/kjv/luke_9.html?goto=23") Luke 9:23
                |.) We are to put our trust wholly in God for all things. Jesus wants to be our teacher with the Holy Spirit as our most able guide and helper.

              p
                | We are to look to Jesus and how He walked on the earth as a man.
                | With Jesus as our role model and Good Shepherd, God shows us how He wants our spirit — the real man — to rule our soul, mind, emotions and bodies.

              h2 Spirit Led 

              p
                | We are to put our own agenda on hold and put Jesus "in the driving seat" and be led by the Spirit.

              p
                | God has already pre-ordained the good works that we are to walk out, according to His good pleasure and purpose,
                | for the praise of His glory. (See 
                a(href="/kjv/ephesians_2.html?goto=10") Ephesians 2:10
                |.)

              p
                | Enjoy your walk dear Christian, you are in good company!

              p.text-right
                | Tim Simpson
                br
                | 17th February, 2021
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2021/16-listen-with-your-eyes.html","/blog/2021/18-always-good-news.html")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 All Nations
                p
                  | Jesus People | Sunday 7th February, 2021

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/58vylrv0X-Y")

        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
