//
// Bible page header definition
// ==================================================
.container
  .headerblock.hidden-sm.hidden-xs
    .logoverse
      p
        | But be ye doers of the word,
        br
        |                   and not hearers only,
        br
        |                   deceiving your own selves.
      a(href='james_1.html?goto=22') James 1:22
