// Standard page footer
.container.hidden-print
  hr.featurette-divider
  footer.footer.text-center
    p
      | Copyright © 2022 ToDoBible.org. All rights reserved.
      br
      small 
        a(href='#')
          | Top of page
