// Standard page footer
.container.hidden-print
  hr.featurette-divider
  footer.footer.text-center
    p
      | Copyright © 2020 ToDoBible.org. All rights reserved.
      br 
      a(href='https://twitter.com/ToDoBible', target="_blank")
        img.img-circle(src='/images/twitter.svg', width='25', height='25', alt='Twitter Logo')
        |  @ToDoBible
      br
      small 
        a(href='#')
          | Top of page
