//
// Todo page A2Z buttons
// ==================================================
.container
  // <container>
  .row
    .col-md-12
      h1 Bible ToDo List Topic Index
      hr.featurette-divider
      .a2z
        a.btn.btn-lg.btn-primary(href='#todo_A') A
        a.btn.btn-lg.btn-primary(href='#todo_B') B
        a.btn.btn-lg.btn-primary(href='#todo_C') C
        a.btn.btn-lg.btn-primary(href='#todo_D') D
        a.btn.btn-lg.btn-primary(href='#todo_E') E
        a.btn.btn-lg.btn-primary(href='#todo_F') F
        a.btn.btn-lg.btn-primary(href='#todo_G') G
        a.btn.btn-lg.btn-primary(href='#todo_H') H
        a.btn.btn-lg.btn-primary(href='#todo_I') I
        a.btn.btn-lg.btn-primary(href='#todo_J') J
        a.btn.btn-lg.btn-primary(href='#todo_K') K
        a.btn.btn-lg.btn-primary(href='#todo_L') L
        a.btn.btn-lg.btn-primary(href='#todo_M') M
        a.btn.btn-lg.btn-primary(href='#todo_N') N
        a.btn.btn-lg.btn-primary(href='#todo_O') O
        a.btn.btn-lg.btn-primary(href='#todo_P') P
        a.btn.btn-lg.btn-primary(href='#todo_Q') Q
        a.btn.btn-lg.btn-primary(href='#todo_R') R
        a.btn.btn-lg.btn-primary(href='#todo_S') S
        a.btn.btn-lg.btn-primary(href='#todo_T') T
        a.btn.btn-lg.btn-primary(href='#todo_U') U
        a.btn.btn-lg.btn-primary(href='#todo_V') V
        a.btn.btn-lg.btn-primary(href='#todo_W') W
        a.btn.btn-lg.btn-primary(href='#todo_X') X
        a.btn.btn-lg.btn-primary(href='#todo_Y') Y
        a.btn.btn-lg.btn-primary(href='#todo_Z') Z
      hr.featurette-divider
