//
// Todo page header definition
// ==================================================
.container
  .headerblock.hidden-sm.hidden-xs
    .logoverse
      p
        br
        |  He that doeth the will of God
        br
        |  abideth for ever.
      a(href='../kjv/1john_2.html?goto=17') 1 John 2:17
