doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='Ephesians chapter 1 bible study')
    meta(name='description', content="Ephesians chapter 1 bible study.")
    title Ephesians Chapter 1 Bible Study - Identity Explained
    // Bootstrap
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/common_page.css', rel='stylesheet')
    link(href='../css/resource_page.css', rel='stylesheet')
  body(data-spy='scroll', data-target='#myScrollspy')
    include ../includes/resource_page_menu.pug
    include ../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    .container
      .row
        .col-md-2.hidden-print.hidden-sm.hidden-xs
          nav#myScrollspy
            ul.nav.nav-pills.nav-stacked.affix-top(data-spy='affix', data-offset-top='170')
              li.active
                a(href='resources.html')
                  b Resources
              li
                a(href='resources.html#articles') Articles
              li
                a(href='resources.html#kjv') King James Bible
              li
                a(href='resources.html#studies') Bible Studies
              li
                a(href='resources.html#todo') Bible ToDo Lists
        // Main content block
        .col-md-7
          h1 Ephesians Chapter 1 - Identity Explained
          hr.featurette-divider

          h2 Transcript

          h3 Welcome!
          p
            | Thanks for visiting today to study 
            a(href='../kjv/ephesians_1.html') Ephesians chapter 1
            |.
          
          p
            | I titled this study "Identity Explained" because during this study
            | a number of identities are revealed and explained including that 
            | of our own new identity in Christ.

          p
            | The other identities revealed are the 
            | the three persons of God (the Holy Trinity): God the Father, God the Son and 
            | God the Holy Spirit.
          
          p
            | Once we start to understand our new identity 
            | in Christ we can really begin to grow spiritually.

          p
            | As we study, we'll learn about:
            br
            span.badge.itemcog C
            | &nbsp;God's character and His master plan.
            br
            span.badge.itemiic I
            | &nbsp;Our identity "in Christ" as believers.
            br
            span.badge.itemtodo T
            | &nbsp;Our walk with God (ToDo items).
            br
            span.badge.itemfact F
            | &nbsp;Bible facts.
            br
            span.badge.itempromise P
            | &nbsp;Bible promises.

          p 
            | I sincerely hope this bible study will be a blessing to you.

          h3 Before We Start
          p
            | Let's pray:
          
          p
            | Holy Spirit, please help us as we study the Word of God.
            br
            | Give us revelation to understand the true meaning and application of it.
            br
            | Speak to our hearts and make this time profitable to the glory of God.
            br
            | In the name of Jesus we pray.
            br
            | Amen
          
          p
            | Okay. Let's get started.
          
          h3 Go To Verse

          .vlinks
            a.btn.btn-lg.btn-primary(href='#v1') 1
            a.btn.btn-lg.btn-primary(href='#v2') 2
            a.btn.btn-lg.btn-primary(href='#v3') 3
            a.btn.btn-lg.btn-primary(href='#v4') 4
            a.btn.btn-lg.btn-primary(href='#v5') 5
            a.btn.btn-lg.btn-primary(href='#v6') 6
            a.btn.btn-lg.btn-primary(href='#v7') 7
            a.btn.btn-lg.btn-primary(href='#v8') 8
            a.btn.btn-lg.btn-primary(href='#v9') 9
            a.btn.btn-lg.btn-primary(href='#v10') 10
            a.btn.btn-lg.btn-primary(href='#v11') 11
            a.btn.btn-lg.btn-primary(href='#v12') 12
            a.btn.btn-lg.btn-primary(href='#v13') 13
            a.btn.btn-lg.btn-primary(href='#v14') 14
            a.btn.btn-lg.btn-primary(href='#v15') 15
            a.btn.btn-lg.btn-primary(href='#v16') 16
            a.btn.btn-lg.btn-primary(href='#v17') 17
            a.btn.btn-lg.btn-primary(href='#v18') 18
            a.btn.btn-lg.btn-primary(href='#v19') 19
            a.btn.btn-lg.btn-primary(href='#v20') 20
            a.btn.btn-lg.btn-primary(href='#v21') 21
            a.btn.btn-lg.btn-primary(href='#v22') 22
            a.btn.btn-lg.btn-primary(href='#v23') 23
            //-
              a.btn.btn-lg.btn-primary(href='#summary') Summary

          h3 Ephesians 1:1

          #v1.verse
            b 1 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='formerly a Pharisee known as Saul of Tarsus') Paul
            | , an 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='one sent out with orders') apostle
            |  of Jesus Christ by the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='what one wishes or has determined shall be done, choice, inclination, desire, pleasure') will
            |  of God, to the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='set apart, most holy, sacred, morally blameless') saints
            |  which are at 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='a maritime city of Asia Minor') Ephesus
            | , and to the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='believing, believer') faithful
            |  in Christ Jesus:
          
          p
            | The first word of the first verse reveals Paul as the author of this letter 
            | to the believers at Ephesus whom he refers to as "saints".

          p
            | However, the letter is also addressed "to the faithful in Christ Jesus".
            | Therefore, if you are a believer, this letter is addressed directly to you today
            | as a faithful believer "in Christ Jesus".

          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that Paul&rsquo;s letter to the saints at Ephesus (God&rsquo;s Word)
              | is directly addressed to each of us today as faithful believers in Christ Jesus.
             
          p
            | The phrase "in Christ" (or its equivalent) is used repeatedly throughout the book of Ephesians and 
            | as we study we'll take time to understand exactly what this means in terms of our 
            | identity and how our faith has brought us "into" Christ Jesus.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that our faith has brought us into Christ Jesus.

          p
            | The word "saints" in the Greek is "hagios"&nbsp;
            sup G40
            | meaning "set apart, most holy,
            | sacred, morally blameless".

          p
            | It may surprise you to learn that as believers in Christ we are "saints" and that this description 
            | therefore also applies to us too. We'll see more on this later.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ, we are saints.

          p
            | We also learn from verse 1 that Paul was chosen by "the will of God" to be sent out with authority as an ambassador of Jesus Christ.

          p
            | The word "apostle" in the Greek is "apostolos"&nbsp;
            sup G652
            |  meaning "one sent out with orders".

          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that Paul was chosen by God to be sent out with authority as an ambassador of Jesus Christ.

          p
            a(href='../kjv/acts_9.html') Acts chapter 9
            |  tells us that Paul certainly did not choose this role 
            | for himself but rather Jesus chose it for him.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that Paul did not choose Jesus but rather Jesus chose Paul. [
              a(href='../kjv/acts_9.html') Acts 9
              | ]

          p
            | So we see that God is at work in the world and in the lives of people. 
            | As we progress our study, we'll see that God has a master plan which He is 
            | executing and that His plan involves people
            | spanning multiple generations on Earth. One day His plan will come to fruition.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God has a master plan which He is executing.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God often involves people to fulfil His plan on the Earth.

          p
            | God may choose even the most unlikely people to fulfil His plan on the Earth,  
            | including those who directly oppose Him. 

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God may choose even the most unlikely people to fulfil His plan on the Earth, 
              | including those who directly oppose Him.

          p
            | The encounter with Jesus on the road to Damascus completely changed Paul's life such that  
            | the former Christian-hating Pharisee known as "Saul of Tarsus" became known as "Paul, 
            | the apostle of Jesus Christ" who was mightily used by God.

          p
            | Let us also likewise fully embrace our new identity and purpose in life as we 
            | discover exactly who we are in Christ. 

          h3 Ephesians 1:2

          #v2.verse
            b 2 
            span.ttw(data-toggle='tooltip' data-placement='top' title='good will, loving kindness, favour') Grace
            span.extra  be
            |  to you, and 
            span.ttw(data-toggle='tooltip' data-placement='top' title='tranquillity, harmony, concord, security, safety, prosperity, freedom from fear, quietness of mind') peace
            | , from God our Father, and 
            span.extra from
            |  the Lord Jesus Christ.
          
          p
            | Paul begins verse 2 by greeting the saints both wishing and reminding them of God&rsquo;s grace and peace.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Take note how Paul greets the saints by both wishing and reminding them of God&rsquo;s grace and peace.
          
          p
            | In his greeting, Paul reminds us that in Christ God is our Father
            | and therefore we are children of God.
          
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God is our Father.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we are children of God.

          p
            | And, with God as Father, come two major benefits for His children: 
            | namely grace and peace!
          
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that grace and peace are ours because God is our Father.

          p
            | The word "grace" in the Greek is "charis"&nbsp;
            sup G5485
            |  meaning "good will, loving kindness, favour".
          
          p
            | The word "peace" in the Greek is "eirene"&nbsp;
            sup G1515
            | meaning "tranquillity, harmony, 
            | concord, security, safety, prosperity, freedom from fear, quietness of mind".

          p
            | Both wonderful gifts. You may choose to think of grace coming from our loving Father 
            | and peace from the Lord Jesus (
            a(href='../kjv/john_14.html?goto=27') John 14:27
            |), the "Prince of Peace" (
            a(href='../kjv/isaiah_9.html?goto=6') Isaiah 9:6
            |).

          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Remember that Jesus is the Prince of Peace. [
              a(href='../kjv/isaiah_9.html?goto=6') Isaiah 9:6
              | ]
          
          p
            | However, we are to recognise that grace and peace come from both God our Father and from the Lord Jesus Christ.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that grace and peace come from God the Father and from the Lord Jesus Christ.
          
          p
            | This is because not only does Paul want us to understand our own identity in 
            | Christ (and the blessings which are ours as a result)
            | but he also wants us to understand exactly
            | who the Lord Jesus Christ is and that Jesus is equally divine with God the 
            | Father. Hence he uses the full title of "Lord Jesus Christ".

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that the Lord Jesus Christ is equally divine with God the Father.
          
          p
            | Paul calls Jesus "Lord" because that is His title. In fact, Jesus is "King of kings and Lord of lords" (
            a(href='../kjv/1timothy_6.html?goto=15') 1&nbsp;Timothy 6:15
            | ).

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus is Lord.
          
          p
            | The name "Jesus" itself means "Jehovah is salvation". 
          
          p
            | In Matthew's gospel we read how Joseph was told in 
            | a dream to use this name by the angel of the Lord
            | who said "thou shalt call his name JESUS: for he shall save his people from 
            | their sins" (
            a(href='../kjv/matthew_1.html?goto=21') Matthew 1:21
            | ). Therefore this name was also to describe His mission.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus is Saviour.
          
          p
            | The word "Christ" in the Greek is "Christos"&nbsp;
            sup G5547
            |  meaning "anointed one" 
            | or "chosen one". This is also a title of Jesus 
            | (not a surname as some might think) and is the Greek equivalent of the Hebrew 
            | word for "Messiah". 
            
          p
            | Jesus is the Messiah! (Paul even emphasizes this in verse 1
            | through use of "Christ Jesus" instead of "Jesus Christ".)

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus is the Messiah.
          
          h3 Ephesians 1:3

          #v3.verse
            b 3 
            span.ttw(data-toggle='tooltip' data-placement='top' title='praised, adorable') Blessed 
            span.extra be
            |  the God and Father of our Lord Jesus Christ, who 
            span.ttw(data-toggle='tooltip' data-placement='top' title='has') hath
            |  
            span.ttw(data-toggle='tooltip' data-placement='top' title='to cause to prosper, to make happy, to bestow blessings on') blessed
            |  us with all 
            span.ttw(data-toggle='tooltip' data-placement='top' title='emanating from the Divine Spirit, or exhibiting its effects and so its character') spiritual
            |  
            span.ttw(data-toggle='tooltip' data-placement='top' title='a gift, benefit or advantage') blessings
            |  in 
            span.ttw(data-toggle='tooltip' data-placement='top' title='heaven')
              | heavenly 
              span.extra places
            |  in Christ:

          p
            | Paul is about to start the list of blessings that 
            | believers have in Christ but in doing so he
            | further expresses the identity of the Lord Jesus Christ as the Son of God 
            | and as our personal Lord and Saviour.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is the Father of the Lord Jesus Christ.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that the Lord Jesus Christ is the Son of God.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that Jesus is our Lord and Saviour.

          p
            | Paul uses the phrase  "the God and Father of our Lord Jesus Christ"
            | to highlight the twin nature of Jesus as both God (the Son) and man born of a woman and under the law (
            a(href='../kjv/galatians_4.html?goto=4') Galatians 4:4
            =")."
          
          p  
            | In order for Jesus to fulfil the law He was obligated to love God and to worship Him. Therefore God the Father is both 
            | the Father of the Son and also the God of the Lord Jesus Christ when a man living under the law.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God the Father is the God of the Lord Jesus Christ.

          p
            | Paul both demands and gives praise to God the Father for who He is and 
            | what He has done for believers.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Give praise to the God and Father of our Lord Jesus Christ for what He has done.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is worthy of praise.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is gracious.
              span  [v2-3]

          p
            | In keeping with God's character of declaring the end from the beginning, 
            | Paul starts 
            | with the final outcome of our faith in Christ, namely the promise of a 
            | place reserved for us in heaven and all the spiritual blessings that come with it.

          p
            | Praise God and thank Him for it. 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itempromise P
              |  Know that God has reserved a place in heaven for those in Christ.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ, we have been blessed with every spiritual blessing in heaven.
            .verse-todo-item
              span.badge.itemtodo T
              |  Thank God for all your spiritual blessings in heaven in Christ.

          h3 Ephesians 1:4

          #v4.verse
            b 4 
            | According as 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            |  
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='has') hath
            |  chosen us in 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') him
            |  before the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='founding, creation') foundation
            |  of the world, that we should be 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='set apart, sacred, physically pure, morally blameless or religious ceremonially consecrated') holy
            |  and 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='morally: without blemish, faultless, unblameable') without blame
            |  before 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') him
            |  in 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='selfless, sacrificial, unconditional love') love
            |:
          
          p
            | Paul now describes both how and when the blessings for those in Christ 
            | came about and for what purpose.
            
          p
            b
              | How? 
            | By God's choosing. 
          
          p
            | We didn't choose God. By God's grace alone, He chose us. 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we did not choose God. He chose us.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that it was by God&rsquo;s grace alone that we were chosen in Christ.
   
          p
            b
              | When did this happen? 
            | Before the creation of the world. 
            | Yes, before we were even born and ever had any opportunity to do any good works.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we were chosen by God in Christ before the creation of the world.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God&rsquo;s master plan started even before the creation of the world.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that Jesus was with God before the creation of the world.
          
          p
            b
              | But what were we chosen for? 
            | Holiness.

          p
            | Just as the blood sprinkled on
            | the lintels and doorposts caused the destroyer to pass over the houses of 
            | the Israelites in Egypt,
            | so the blood of Christ sets us apart
            | to stand holy and without blame before God in love.
            
          p
            | Being chosen in Christ causes God to see us and treat us entirely differently. 
            | God sees us in our perfected state: holy, without blemish and clothed in the righteousness of His Son. 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ, we are holy and blameless before God in love.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that in Christ, God sees us in our perfected state: holy, 
              | without blemish and clothed in the righteousness of His Son.
            
          p
            | It's equally important that we also see ourselves differently in Christ too so that
            | God might receive the glory for what He has done.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Don&rsquo;t put yourself down: God has elevated you to sainthood.
            .verse-todo-item
              span.badge.itemtodo T
              |  See yourself as God sees you in Christ and realise just how completely He loves you.

          p
            b
              | But what exactly are we without blame for? 
            | Hold that thought. We'll find out shortly.
          
          h3 Ephesians 1:5

          #v5.verse
            b 5 
            | Having 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='predetermined, decided or appointed beforehand, preordained') predestinated
            |  us 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to') unto
            |  the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the giving of the name and place and privileges of a son to someone who is not a son by birth') adoption
            |  of children by Jesus Christ to 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') himself
            | , according to the good pleasure of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            |  
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='what one wishes or has determined shall be done, choice, inclination, desire, pleasure') will
            | ,

          p
            b
              | Again, what were we chosen for? 
            | Adoption.

          p
            | The word "predestinated" in the Greek is "proorisas"&nbsp;
            sup G4309
            |  meaning "predetermined, decided or appointed beforehand, preordained". 
            
          p
            | It may seem hard to imagine that God planned all of this even before the 
            | creation of the world but it also pleased Him to choose us for adoption as His children 
            | (by Jesus Christ) as part of that plan.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God appointed us beforehand to be adopted as His children by Jesus Christ.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that it pleased God when He decided to adopt us as His children.

          p
            | God the Father wants to be Father to us and He wants a relationship with us, 
            | His children. He wants to sit, eat, drink and talk with us (
            a(href='../kjv/revelation_3.html?goto=20') Revelation 3:20
            | ). 

          p
            | As a beloved child of God, why not become totally dependent on God your Father?
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God wants to be Father to us.
            .verse-todo-item
              span.badge.itemtodo T
              |  As a beloved child of God, become totally dependent on God your Father.

          h3 Ephesians 1:6

          #v6.verse
            b 6 
            | To the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to commend, to applaud, to express approbation of personal worth or actions, to extol in words or song, to magnify, to glorify on account of perfections or excellent works, to express gratitude, to do honour to, to display the excellence of') praise
            |  of the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='splendour, brightness, magnificence, majesty, excellence') glory
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='good will, loving kindness, favour') grace
            | , 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='in which') wherein
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='has') hath
            |  made us 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='highly favoured, agreeable') accepted
            |  in 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ: the beloved Son of God') the beloved
            | .

          p
            b
              | What was our adoption for? 
            | Praise.

          p
            | Our adoption as God's children is to the praise of the glory of His grace. Verses 12 and 14 also use the similar phrase
            | "to the praise of His glory" and we see that what is being praised and glorified is the Holy Trinity; verse 6 relates to 
            | our praise for God the Father (and the glory of His grace).

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that our adoption as God&rsquo;s children is for the praise of God the Father and the glory of His grace.
              span  [v3-6]

          p
            | When we truly realise the magnitude of what God has done for us our natural response is to 
            | enthusiastically praise God the Father in fitting recognition of the glory of His grace.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Praise God the Father and the glory of His loving kindness and favour.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is glorious.

          p
            | Jesus is God's only begotten and beloved Son.
            | God called out from heaven to declare Him in whom He was well pleased (
            a(href='../kjv/matthew_3.html?goto=17') Matthew 3:17
            | ) and in whom we find our salvation.

          p
            | God's grace in choosing us in Christ has made us highly favoured and acceptable to Him.
          
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that Jesus is God&rsquo;s only begotten and beloved Son. [
              a(href='../kjv/matthew_3.html?goto=17') Matthew 3:17
              | ]
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God has made us highly favoured and accepted in His beloved Son Jesus.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that it was God alone that made us accepted in Christ and not through any works that we performed as we hadn't even been born when God decided!

          p
            b
              | But what was it that previously made us unacceptable to Him? 
            | Once again, hold that thought.

          h3 Ephesians 1:7

          #v7.verse
            b 7 
            | In 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') whom
            |  we have 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='release or liberation effected by payment of a ransom') redemption
            |  through 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') his
            |  blood, the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='deliverance, liberty, remission, pardon') forgiveness
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='offence, fault, lapse or deviation from truth and uprightness, unintentional error or willful transgression') sins
            | , according to the riches of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='good will, loving kindness, favour') grace
            | ;

          p
            | The riches of God's grace have brought us redemption. This is not something that anyone can achieve for themself. 

          p
            | Jesus is our redeemer. He is the one who has effected our liberation by payment of a ransom, namely through His blood.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ we have been redeemed through the blood of Jesus.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that Jesus is our redeemer.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that we are not able to redeem ourselves.

          p
            b
              | But what have we been liberated from? 
            | We are now about to find out.
            
          p
            | God's plan was one of redemption from the outset for those in Christ
            | and God wishes us to collaborate with Him in His plan knowing that
            | redemption is mankind's greatest need as 
            | all have sinned and come short of the glory of God (
            a(href='../kjv/romans_3.html?goto=23') Romans 3:23
            |).

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God&rsquo;s master plan is one of redemption for mankind.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God wants us to collaborate with Him in His plan of redemption.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that redemption is mankind&rsquo;s greatest need.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that all have sinned and are in need of God&rsquo;s forgiveness.

          p
            | But in Christ, our sins (past, present and future) have been forgiven!

          P
            | Finally we have the answers to our questions:
            br
            b
              | v4) What are we without blame for? 
            | Our sins.
            br
            b
              | v6) What previously made us unacceptable to God? 
            | Our sins.
            br
            b
              | v7) What have we been liberated from? 
            | Death: the just punishment for our sins.
          
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ our sins (past, present and future) have been forgiven through the ransom blood of Jesus.

          p
            | God's character is often revealed by His actions. Here we see that God is merciful and generous.
            | He has lavished the riches of His grace upon us and we are no longer slaves to sin. Hallelujah!

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is merciful.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God has lavished the riches of His grace upon us.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God gives generously.

          p
            | Our ransom has been paid in blood by Jesus and now we are forgiven, holy, blameless and acceptable to God
            | with all the privileges of sons and heirs!

          p
            | This is the good news of the gospel and as we grow in the knowledge of our 
            | true standing in Christ it only gets better! No wonder Paul erupted into praise
            | at the start of this letter.

          h3 Ephesians 1:8

          #v8.verse
            b 8 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='in which') Wherein
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='has') hath
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='abundantly or plentifully supplied') abounded
            |  toward us in all 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the right use or exercise of knowledge') wisdom
            |  and 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='understanding, moral insight, sound judgment in avoiding evil') prudence
            | ;
          
          p
            | The immense riches of God's grace do not flow scarcely or barely enough but abundantly, overflowing to us 
            | His children, including wisdom: the right use or exercise of knowledge, and understanding:
            | moral insight and sound judgement in avoiding evil. 

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God&rsquo;s grace flows abundantly towards His children.
              span  [v5-8]
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God has lavished wisdom and understanding upon us through the abundant riches of His grace.
              span  [v7-8]

          h3 Ephesians 1:9

          #v9.verse
            b 9 
            | Having 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to gain a knowledge of, have thorough knowledge of') made known
            |  
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to') unto
            |  us the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='hidden secret') mystery
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            |  
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='what one wishes or has determined shall be done, choice, inclination, desire, pleasure') will
            | , according to 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            |  good pleasure which 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            |  
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='has') hath
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='intended, designed, resolved, determined') purposed
            |  in 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') himself
            | :

          p
            | God decides and does as He pleases yet it pleased God to fully disclose and make His master plan known to us which had
            | previously been kept secret.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that God has chosen to make known to us the hidden secret of His master plan.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that it pleases God to reveal His will to His children.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God decides and does as He pleases.

          h3 Ephesians 1:10

          #v10.verse
            b 10 
            | That in the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='period of time') dispensation
            |  of the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='fullness: being full, completeness') fulness
            |  of times 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            |  might gather together in one all things in Christ, both which are in heaven, and which are on earth; 
            span.extra even
            |  in 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') him
            | :

          p
            | Paul now reveals some of the detail of God's master plan, a future event often referred to as "The Rapture" (
            a(href='../kjv/1thessalonians_4.html?goto=16-17') 1&nbsp;Thessalonians 4:16-17
            ="),"
            | when God will gather together all those in Christ. First, those that are dead in Christ will be gathered from
            | heaven, followed by those in Christ who are still alive on the Earth.

          p
            | God has clearly positioned His Son Jesus Christ at the very centre of His master plan.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that at the appropriate moment in time (The Rapture), God will gather together all things 
              | which are in Christ, both from in heaven and on earth. [
              a(href='../kjv/1thessalonians_4.html?goto=16-17') 1&nbsp;Thessalonians 4:16-17
              | ]
            .verse-todo-item
              span.badge.itemiic I
              |  Know that the dead in Christ are in heaven.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God has positioned His Son Jesus Christ at the centre of His master plan.

          h3 Ephesians 1:11

          #v11.verse
            b 11 
            | In 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') whom
            |  also we have  
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='been allotted or assigned') obtained
            |  an 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the estate or possession which has or may descend to an heir') inheritance
            | , being 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='predetermined, decided or appointed beforehand, preordained') predestinated
            |  according to the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='an object to be reached or accomplished, plan, intention, design') purpose
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') him
            |  who 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='works, does') worketh
            |  all things after the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='advice, consultation') counsel
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            |  own 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='what one wishes or has determined shall be done, choice, inclination, desire, pleasure') will
            | :
          
          p
            | The word "predestinated" (meaning appointed beforehand) that was first mentioned in verse 5
            | is repeated again here in verse 11 because the two verses are linked.
          
          p
            b
              | Appointed beforehand for what?
            |  Adoption and an inheritance.

          p
            | Our adoption as children of God (verse 5) makes us joint heirs with Christ (
            a(href='../kjv/romans_8.html?goto=15-17') Romans 8:15-17
            =") "
            | and thereby entitles us to an inheritance (verse 11).

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ we have become children and heirs of God.
              span  
              | [v5-11, 
              a(href='../kjv/romans_8.html?goto=15-17') Romans 8:15-17
              | ]
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we were predestined to obtain an inheritance in Christ by God&rsquo;s will.

          p
            b
              | Appointed beforehand for what?
            |  To be part of God&rsquo;s purpose and plan.

          p
            | Wow! You were no accident of birth.
            | You were born for a reason. Your life has purpose!

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we were predestined to be part of God&rsquo;s purpose and plan.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that you were no accident of birth.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that you were born for a reason.

          p
            | God has decided and does all things after the counsel of His own will.
            | God does not need or seek advice from anybody.
            | God is sovereign, having supreme power and authority to rule as He chooses.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God works all things after the counsel of His own will.
              span  [v9-11]
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is sovereign, having supreme power and authority to rule as He chooses.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God does not need or seek advice from anybody.

          h3 Ephesians 1:12

          #v12.verse
            b 12 
            | That we should be to the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to commend, to applaud, to express approbation of personal worth or actions, to extol in words or song, to magnify, to glorify on account of perfections or excellent works, to express gratitude, to do honour to, to display the excellence of') praise
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='splendour, brightness, magnificence, majesty, excellence') glory
            | , who first trusted in Christ.
          
          p
            | Our purpose in life (first mentioned in verse 6), to live for the praise of His glory, 
            | now focuses on the second person of the Holy Trinity, namely our praise of God's glorious Son. 

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we were predestined to praise God&rsquo;s glorious Son.
              span  [v11-12]
            .verse-todo-item
              span.badge.itemtodo T
              |  Live for the praise of God&rsquo;s glorious Son.

          p
            | Even though Paul is writing to Gentile (non-Jewish) believers, he appears to temporarily choose to speak from a Jewish
            | standpoint when saying "who first trusted in Christ" in order to emphasize that this hope first belonged to the Jews
            | but is now also offered to the Gentiles.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that it was the Jews who first hoped in the Messiah.

          h3 Ephesians 1:13

          #v13.verse
            b 13 
            | In 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') whom
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='you (plural)') ye
            |  also 
            span.extra trusted
            | , after that 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='you (plural)') ye
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to hear and understand') heard
            |  the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') word of truth
            | , the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='good news, glad tidings') gospel
            |  of your 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the act of saving; preservation from destruction, danger or great calamity') salvation
            | : in 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') whom
            |  also after that 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='you (plural)') ye
            |  believed, 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='you (plural)') ye
            |  were 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='marked') sealed
            |  with that holy Spirit of promise,
          
          p
            | Faith comes by hearing (
            a(href='../kjv/romans_10.html?goto=17') Romans 10:17
            |) and ours came when we heard the Word of Truth (Jesus), the gospel of our salvation.

          p
            | It is God's plan that, despite being chosen in Christ before the foundation of the world, 
            | believers are not born again 
            | until the exact moment in time planned by God for them to hear the gospel of salvation.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that our trust is in Christ since we heard the Word of Truth, the good news of our salvation.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that the Word of Truth (Jesus) is the good news of salvation.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that despite being chosen in Christ before the foundation of the world, believers are not born again until the exact time planned by God for them to hear the gospel of salvation.
          
          p
            | Paul continues to speak from a Jewish standpoint when saying "In whom ye also trusted" in order to
            | emphasize the unifying hope of salvation offered to both Jews and Gentiles alike in Christ.
            | All men, whether Jew or Gentile, share this same need for salvation.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that all men have need of salvation.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that it was always God&rsquo;s plan to allow the Gentiles to trust in the Messiah also.
          
          p
            | After we believed in Jesus (the Word of Truth) we were marked with God's Holy Spirit of promise.
            | The Holy Spirit is God's seal of ownership upon us. In Christ, the Holy Spirit dwells within us.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we received the Holy Spirit of promise after we believed.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that the Holy Spirit is God&rsquo;s seal of ownership upon us.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ, the Holy Spirit dwells within us.

          h3 Ephesians 1:14

          #v14.verse
            b 14 
            | Which is the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='down payment, pledge') earnest
            |  of our 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the estate or possession which has or may descend to an heir') inheritance
            |  until the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='release or liberation effected by payment of a ransom') redemption
            |  of the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title="to take full ownership or possession, obtaining or acquiring one's own property") purchased possession
            | , 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to') unto
            |  the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to commend, to applaud, to express approbation of personal worth or actions, to extol in words or song, to magnify, to glorify on account of perfections or excellent works, to express gratitude, to do honour to, to display the excellence of') praise
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Holy Spirit') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='splendour, brightness, magnificence, majesty, excellence') glory
            | .
          
          p
            | The Holy Spirit is given to us as a down payment (pledge) of our inheritance until the time comes
            | for the redemption of the purchased possession i.e. for us to go to be with the Lord, either when we die
            | or at the Rapture.

          p
            | We are each a purchased possession of the Lord, purchased by the precious blood of Jesus.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that the Holy Spirit is the down payment (pledge) of our inheritance until we go to be with the Lord.
              span  [v13-14]
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we are each a purchased possession of the Lord.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that we have been purchased by the ransom blood of Jesus.
          
          p
            | Our purpose in life (first mentioned in verse 6 and again in verse 12),  
            | is now mentioned a third time but this time focuses on the third person of the Holy Trinity,
            | namely God's Holy Spirit, that we might also live for the praise of His glory. 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that our possession of the Holy Spirit is for the praise of His (the Holy Spirit&rsquo;s) glory.
              span  [v13-14]
            .verse-todo-item
              span.badge.itemtodo T
              |  Praise the glory of the Holy Spirit.

          h3 Ephesians 1:15

          #v15.verse
            b 15 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='for which reason') Wherefore
            |  I also, after I heard of your faith in the Lord Jesus, and love 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to') unto
            |  all the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='set apart, most holy, sacred, morally blameless') saints
            | ,
          
          p
            | Having described the wealth of blessings bestowed upon believers alongside detailed revelation of God's character
            | and master plan, Paul prays for the believers at Ephesus
            | after hearing of their faith in the Lord Jesus and their love towards their Christian brethren, two traits which go
            | hand-in-hand for believers in Christ.

          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that faith in Jesus and love towards all of the saints go together hand-in-hand for believers.

          h3 Ephesians 1:16

          #v16.verse
            b 16 
            | Cease not to give thanks for you, making mention of you in my prayers;
          
          p
            | Following Paul's example we should repeatedly give thanks and pray for our Christian brethren.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Give thanks and pray for your brothers and sisters in Christ.

          h3 Ephesians 1:17

          #v17.verse
            b 17 
            | That the God of our Lord Jesus Christ, the Father of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='splendour, brightness, magnificence, majesty, excellence') glory
            | , may give 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to') unto
            |  you the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='disposition or influence') spirit
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the right use or exercise of knowledge') wisdom
            |  and 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='a disclosure of truth') revelation
            |  in the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='experiential knowledge gained through first-hand relationship') knowledge
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') him
            | :
          
          p
            | We are to pray to "the God of our Lord Jesus Christ" (first stated as such in verse 3) who Paul now describes
            | as "the Father of glory".

          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God is the Father of glory.

          p
            | Paul's prayer highlights an important thing to petition the Father of glory for, namely
            | "the spirit of wisdom and revelation in the knowledge of Him". 

          p 
            | This is not to be confused with asking for God's Holy Spirit, 
            | which God has already given to us as believers (verse 13) but
            | rather asking God the Father for a spiritual disposition (temperament, habit, quality of character) 
            | to seek out wisdom and revelation in the knowledge of Him.

          p
            | The word "knowledge" in the Greek is "epignosis"&nbsp;
            sup G1922
            |  meaning "precise and correct knowledge, experiential knowledge gained through first-hand relationship".

          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Pray that God may give you the spirit of wisdom and revelation in the experiential knowledge of His character and will.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God not only wants us to know about Him but also to know Him in person through a first-hand relationship with Him.

          p
            | Wisdom does not come automatically to us at our conversion. It must be sought after.
            | At the time of our conversion our mind is in dire need of spiritual renewal. 
            | We need to seek after wisdom and understanding and are told to earnestly do so (
            a(href='../kjv/proverbs_4.html?goto=7') Proverbs 4:7
            |).

          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that wisdom does not come automatically to believers at time of conversion.
            .verse-todo-item
              span.badge.itemtodo T
              |  Remember that wisdom is the principal thing. [
              a(href='../kjv/proverbs_4.html?goto=7') Proverbs 4:7
              |]
            .verse-todo-item
              span.badge.itemtodo T
              |  Earnestly seek after wisdom.

          p
            | We can expect knowledge and wisdom to come via intimate prayer in which we experience first-hand relationship with God
            | and through reading the Word of God accompanied by the author, the Holy Spirit, who is our source of revelation.

          h3 Ephesians 1:18

          #v18.verse
            b 18 
            | The eyes of your 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='mind, way of thinking and feeling') understanding
            |  being 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='illuminated, instructed, informed, furnished with clear views') enlightened
            | ; that 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='you (plural)') ye
            |  may 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='see, perceive, be aware, discover') know
            |  what is the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='confident expectation') hope
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='invitation, vocation') calling
            | , and what the riches of the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='splendour, brightness, magnificence, majesty, excellence') glory
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='the estate or possession which has or may descend to an heir') inheritance
            |  in the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='set apart, most holy, sacred, morally blameless') saints
            | ,
          
          p
            | Jesus wants to teach us: He wants us to learn both from and about Him.

          p
            | Having the right spiritual temperament and habits will enlighten (illuminate, instruct, inform, furnish with clear views)
            | our mind enabling our understanding and knowledge to grow.
          
          p
            | Paul stresses the importance of properly knowing and understanding our hope (confident expectation) of His calling
            | i.e. eternal life in His presence.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Pray that your understanding may be enlightened to know the confident expectation of His calling.
            .verse-todo-item
              span.badge.itemiic I
              |  Know that our confident expectation of His calling is eternal life.
          
          p
            | Paul also stresses the importance of properly knowing and understanding the riches of the glory of His inheritance 
            | (the Holy Spirit) in us and in the body of Christ. Take a minute to remind yourself of the gifts of the Holy 
            | Spirit (
            a(href='../kjv/1corinthians_12.html') 1&nbsp;Corinthians 12
            |).
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Pray that you may know and understand the riches of the glory of His inheritance (the Holy Spirit) in you and in the body of Christ. [
              a(href='../kjv/1corinthians_12.html') 1&nbsp;Corinthians 12
              |]

          h3 Ephesians 1:19

          #v19.verse
            b 19 
            | And what 
            span.extra is
            |  the exceeding greatness of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='inherent strength, ability to perform, miraculous power') power
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='toward us') to us-ward
            |  who believe, according to the working of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='force, miraculous power') mighty power
            | ,
          
          p
            | Paul further stresses the importance of properly knowing and understanding God's miraculous power
            | given to us as believers and of experiencing that power at work in the world. 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemtodo T
              |  Pray that you may know and experience the working of His great and miraculous power that is given to believers.
              span  [v18-19]
          
          p
            | God's power is exceedingly great and mighty. 
            | He is able to do exceedingly more than we could ever ask or imagine because of the power of the
            | Holy Spirit at work within us (
            a(href='../kjv/ephesians_3.html?goto=20') Ephesians 3:20
            |).
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God&rsquo;s power is exceedingly great and mighty.
          
          p
            | Many Christians fail to realise that the most powerful force in the universe dwells within them
            | and that this exceedingly great and mighty power is at our disposal, waiting to be used just as Jesus used it!
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that as believers God&rsquo;s exceedingly great and mighty power is at our disposal.
          
          p
            | This power is not given to go unused. Consider the gift of healing which has no use in heaven where there is no sickness.

          p
            | As Christians we are the light of the world and when we put the miraculous power of the Holy Spirit to work in our lives
            | people will see our good works and glorify our Father who is in heaven (
            a(href='../kjv/matthew_5.html?goto=15-16') Matthew 5:15-16
            |).
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemiic I
              |  Know that as believers we are not only to know about God&rsquo;s exceedingly great and mighty power but we are to put it to work in our lives for His glory.
              span  [v13-19]
            .verse-todo-item
              span.badge.itemcog C
              |  Know that God wants to demonstrate His mighty power through us so that He might receive glory.
              span  [v18-19]

          h3 Ephesians 1:20

          #v20.verse
            b 20 
            | Which 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            | 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='worked, effected, performed, fashioned, produced') wrought
            |  in Christ, when 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') he
            |  raised 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') him
            |  from the dead, and set 
            span.extra.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') him
            |  at 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='God the Father') his
            |  own right hand in the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='heaven')
              | heavenly 
              span.extra places
            | ,
          
          p
            | God demonstrated the exceeding greatness of His power when He raised Jesus from the dead.
            | Jesus, who once was dead, is now alive and set at the right hand of the Father in heaven.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God raised Jesus from the dead.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that Jesus, who once was dead, is alive.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God demonstrated the exceeding greatness of His power when He raised Jesus from the dead.
              span  [v19-20]
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God has set Jesus at His own right hand in heaven.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus is set at the right hand of God in heaven.

          h3 Ephesians 1:21

          #v21.verse
            b 21 
            | Far above all 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='principal office, sovereignty, supreme power, rulers, magistrates') principality
            | , and 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='authority, jurisdiction') power
            | , and 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='inherent strength, ability to perform, miraculous power') might
            | , and 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='government, rulers, lordship') dominion
            | , and every name that is named, not only in this world, but also in that which is to come:
          
          p
            | God the Father has exalted the Son such that the name of Jesus stands far
            | above every name that is named, not only in this world but also in that which is to come.
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God the Father has exalted the Son far above every name.
              span  [v20-21]
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus is set far above every power and name that is named, not only in this world but also in that which is to come.
              span  [v20-21]
            .verse-todo-item
              span.badge.itempromise P
              |  Know that there is a world to come after this world.

          h3 Ephesians 1:22

          #v22.verse
            b 22 
            | And 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='has') hath
            |  put all 
            span.extra things
            |  under 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') his
            |  feet, and gave 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') him
            | 
            span.extra to be
            |  the head over all 
            span.extra things
            |  to the 
            span.ttw(data-toggle='tooltip' data-placement='top' title='a gathering of citizens called out from their homes into some public place, an assembly, not a building') church
            |,
          
          p
            | God the Father has given Jesus absolute authority, including supreme power and sovereignty over all things.
            | He has also made Jesus head of the church. 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God the Father has put all things in subjection to Jesus.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus has absolute sovereignty and supreme authority over all things.
              span  [v20-22]
            .verse-todo-item
              span.badge.itemfact F
              |  Know that God the Father has set Jesus as head over all things to the church.
            .verse-todo-item
              span.badge.itemcog C
              |  Know that Jesus is head of the church.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that just as the head commands the body, so Jesus commands the church.

          h3 Ephesians 1:23

          #v23.verse
            b 23 
            | Which is 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') his
            |  body, the 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='fullness: being full, completeness, fulfilling') fulness
            |  of 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='Jesus Christ') him
            |  that 
            span.ttw(;='' data-toggle='tooltip' data-placement='top' title='to make full, to fill up, to complete') filleth
            |  all in all.
          
          p
            | The church, referred to as "the body of Christ", is now the living embodiment of Jesus on the Earth.
            | As members of His body we are to do as He (the head) commands. In doing so, we fulfil the good works
            | pre-ordained for us in Christ (
            a(href='../kjv/ephesians_2.html?goto=10') Ephesians 2:10
            =")"
            | thereby enabling the risen Jesus to "complete all things"
            | (
            a(href='../kjv/ephesians_4.html?goto=10') Ephesians 4:10
            |). 
            
          .verse-todo-list
            .verse-todo-item
              span.badge.itemfact F
              |  Know that the church is the living embodiment of Jesus on Earth.
              span  [v22-23]
            .verse-todo-item
              span.badge.itemiic I
              |  Know that in Christ we are members of His body and to do as He (the head) commands.
            .verse-todo-item
              span.badge.itemfact F
              |  Know that the church (His body) is the fulfilment of Jesus who completes every good work pre-ordained for every believer within the body of Christ.

          //-
            h3(id="summary") Ephesians 1 Summary - Identity Explained

            p
              | ...

          h2 Author
          p
            | Tim Simpson, December 2018

        .col-md-3.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .biblenavigation.hidden-print
            h3#goto Navigate The Bible
            h4 Go To Bible Reference
            .versenavigation
              form
                label(for='vref') Enter a bible reference (e.g. 'John 3:16' or 'Ps 23') to go to:
                fieldset
                  input#vref(type='text', maxlength='25', spellcheck='false')
                  button#gotoverse.btn-sm.btn-primary(type='submit', onclick='GoToVerse(); return false') Go
      // /row
    // /container
    footer.footer
      .container.text-center
        hr.featurette-divider
        p
          | Copyright  2019 ToDoBible.org. All rights reserved. 
          a(href='#')
            small Topofpage
    script(type='text/javascript', src='../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../script/bootstrap.min.js')
    script(type='text/javascript', src='../script/ttw.js')
