doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="Walking and talking with God in my secret place.")
    title Walking and talking with God
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    .container
      .row
        // Main content block
        .col-md-8
          h1 Walking And Talking With God
          hr.featurette-divider

          h2 Prologue

          p
            span.firstcharacter
              | A
            |t time of writing, the United Kingdom has been in lockdown for more than two months since the outbreak of the COVID-19
            | Corona Virus became a worldwide pandemic.

          p
            | During time of lockdown, God put it on my heart to start writing a Christian blog and so the 
            span.badge.hashtag #ChristianDogWalker
            |  blog which you are now reading was born.

          h2 My Secret Place

          img(src="/images/gods-carpet.jpg", alt="God's Carpet" title="God's Carpet").img-rounded.img-responsive.mugshot

          p
            | We've lived in the same house in Telford for several decades now and always had dogs.
            | Dog walking is not so much a necessity for our dogs as an excuse for me to take pleasure in God's creation and to pray.

          p
            | The fields and woods near our house have become my prayer closet, the place where I go to pray "in secret". It's
            | where I go to walk and talk with God.

          p
            | I partly kid myself that it's also a place I go to for exercise. I say "kid myself" because the bible says that 
            | "bodily exercise profiteth little" (
            a(href="/kjv/1timothy_4.html?goto=8") 1&nbsp;Timothy 4:8
            |) and therefore exercise isn't a major priority in my life. 

          h2 God Speaks

          p
            | You may have thought that prayer was a one-way conversation where a believer mouths a few words upwards towards God in
            | hope that their petition might be answered in some form in the earthly realm. Sometimes that's exactly what happens
            | but God has so much more to offer because Christianity is a relationship not a religion.

          p
            | God is a person and He seeks relationship with people, especially His children. God speaks and the bible is 
            | full of examples. Jesus said "My sheep hear my voice, and I know them, and they follow me" (
            a(href="/kjv/john_10.html?goto=27") John 10:27
            |).

          h2 God Wants To Meet And Speak With You

          img(src="/images/jesus-the-light-of-the-world.jpg", align="right", alt="Behold I stand at the door and knock" title="Behold I stand at the door and knock").img-rounded.img-responsive.mugshot

          p
            | To know someone is to spend time with them. To go places with them. To eat and drink with them and especially to talk with them. 
            | Knowing about someone is not the same as knowing them personally. Knowing someone requires first hand relationship over a period
            | of time.
            
          p
            | When I talk with
            | God I don't hear an audible voice but I do hear a voice in my head that often calls me by name and am able to engage
            | in conversation. It's precious! I'm blessed and it's available 24x7 wherever I go.

          P
            | This blessing isn't limited to me. You can have this too! 
            | God is willing to meet with you right now, just as you are and wherever you are.

          p
            | Here's your official invitation from Jesus: "Behold, I stand at the door, and knock: if any man hear my voice, and open the door,
            | I will come in to him, and will sup with him, and he with me." (
            a(href="/kjv/revelation_3.html?goto=20") Revelation 3:20
            |).

          h2 The Enemy Speaks Too

          p
            | If you think it's far fetched to have a conversation with God then I challenge you to deny that you have heard the enemy speaking
            | to you. 
          
          p
            | By "the enemy" I mean the devil (Satan) and his helpers. I don't like to use his name because he deserves no respect. He's pure
            | evil and the last person you would ever want to meet or take advice from.

          p
            | Try to recall when a crazy thought or temptation came into your head to do something that you knew was totally wrong.
            | That's the enemy speaking! He's not
            | called "the tempter" for nothing.

          p
            | I was once at the top of a steep escalator in London with an old lady standing on the step below and in front of me. As we descended
            | I heard a voice in my head say "push her down the stairs". I burst out laughing. I knew exactly who was speaking. 

          p
            | The enemy often even speaks to you in the first person with a voice that sounds like your own voice to make you think it's you 
            | speaking to yourself. He's a nasty piece of work and no friend of yours no matter what he says. Don't listen to him.

          h2 Passing Seasons

          img(src="/images/brrr.jpg", alt="Brrrrrr!" title="Brrrrrr!").img-rounded.img-responsive#mugshot

          p
            | As a dog walker, I get to observe the seasons changing. The changes are mostly gradual and subtle but occasionally they emerge quite abruptly.

          P
            | I love seeing God's living handywork. To me there's such an obvious difference between man-made and God-made. 
          
          p
            | Creator God paints nature like no artist ever could.
            | He's way beyond "3D". He uses colour, movement, sound, smell, light intensity, shadows, temperature, ambience, even the wind on your face etc. 
            | not to mention living things. 

          p
            | Walking our dogs has allowed me to witness the passing seasons many times over the years. Even though every day is unique, you start
            | to recognise the familiar chain of events marking the end of one season and the start of the next. 
            
          p
            | Whether it's light nights and long days, the arrival of butterflies and bees, leaves falling from trees or new ones growing, 
            | a noticeable change in temperature, rain, hail, sleet or snow, they each seem strangely familiar and serve as reminders that
            | time passes quickly and we need to use our time well.

          h2 A New And Unexpected Season
          
          p
            | I was out praying one day and after observing a seasonal change I marvelled and remember saying to the Lord "even though things are changing, they are following
            | the same familiar pattern as before". The Lord immediately responded and said "things may appear to be following a familiar pattern but they are not
            | continuing as before". That was mid-way through 2019 and it got me curious.
            | (It wasn't until the start of 2020 that I would begin to see just what that meant.)

          p
            | In the mean time, we had recently helped with the start-up of a new church (All Nations Telford) which was in full swing and
            | beginning to find its stride. We were all excited and greatly looking forward to celebrating the church's
            | first birthday at the end of March 2020. That was until the arrival of the COVID-19 Corona Virus mid-March. Suddenly our
            | church was unexpectedly closed. 😒

          p  
            | All change! 

          p.text-right
            | Tim Simpson
            br
            | 7th June, 2020
            br 
            span.badge.hashtag #ChristianDogWalker
  
        .col-md-4.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .biblenavigation.hidden-print
            h3 Stuff

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/JpJ-IWw5_Mc")

            hr.featurette-divider

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/dNwt7LQiYck")

            hr.featurette-divider

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/Zp6aygmvzM4")

            hr.featurette-divider

            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(src="https://www.youtube.com/embed/_CluxteFTxI")

      // /row
    // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
