doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="Witnessing the warning signs of the times in which we are now living.")
    title Signs Of The Times
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    .container
      .row
        // Main content block
        .col-md-8
          h1 Signs Of The Times
          hr.featurette-divider

          p
            span.firstcharacter
              | D
            |o you ever wonder why things happen in the world?
            | There are so many distractions today that most people never stop to think about it.

          p
            | In this modern era of mass global communication, the news of what is happening in the world
            | is seldom properly reported. It's hard to find the real news.
          
          p
            | Instead opinion, sports results, celebrity feuds, trivia and gossip prevail.
            | Misleading headlines are designed to attract click-throughs rather than accurately portray events or facts.
            | The real news often goes largely unnoticed.

          p
            | The devil doesn't want you to see or hear the real news. He'd rather promote fear, division and distraction. Otherwise you might
            | begin to recognise the warning signs that the bible foretells about the times in which we now live.

          h2 The Impending Judgement Of God

          p
            | God has a plan and every day His plan ebbs nearer to completion. God's plan is not a secret. 
            | You can read it for yourself throughout the bible.

          p
            | A significant event in God's plan is known as "The Day Of The Lord" (also known as "The Day Of Wrath") when
            | Jesus will return to the earth to judge the world.

          p
            | Only God the Father knows the exact day and hour of this future event.

          h2 Proof That God Is God

          p
            | God's plan serves as proof, that He alone is indeed God, because He declares the end from the beginning
            | i.e. God foretells and shows us the future before it happens! 

          .quoteverse
            p
              b 3
              | I have declared the former things from the beginning;
              | and they went forth out of my mouth, and I shewed them;
              | I did them suddenly, and they came to pass.
            a(href="/kjv/isaiah_48.html?goto=3") Isaiah 48:3

          .quoteverse
            p
              b 5
              | I have even from the beginning declared it to thee;
              | before it came to pass I shewed it thee
            a(href="/kjv/isaiah_48.html?goto=5") Isaiah 48:5

          h2 Warning Signs

          p
            | The disciples asked Jesus about His second coming:
            
          .quoteverse
            p
              b 3
              | And as he sat upon the mount of Olives, the disciples came unto him privately, saying, 
              | Tell us, when shall these things be?
              | and what shall be the sign of thy coming,
              | and of the end of the world?
            a(href="/kjv/matthew_24.html?goto=3") Matthew 24:3

          p
            | Jesus gave a lengthy answer (see 
            a(href="/kjv/matthew_24.html?goto=4-51") Matthew 24:4-51
            |) but said the following signs would preceed His coming again:
            ul
              li Many shall come in my name, saying "I am Christ", and shall decieve many.
              li You will hear of wars and rumours of wars.
              li Nation will rise against nation and kingdom against kingdom.
              li There will be famines and pestilences and earthquakes in various places.
              li Christians will be persecuted and killed and hated by all nations.
              li Many will be offended and will betray and hate one another.
              li Many false prophets will rise and deceive many.
              li Evil will abound causing the love of many to grow cold.
              li The gospel will be preached in all the world as a witness to all nations.

          p
            | Jesus also said that all of these things will come to pass and will be witnessed by a single generation (
            a(href="/kjv/matthew_24.html?goto=34") Matthew 24:34
            |) before the end will come. 
            
          p
            b Note: 
            | I, for one, believe that we are now living in that very generation!

          h2 Living In The Last days

          p
            | At this moment in history, we are living in what the bible calls "the last days" i.e. the time after the first-coming,
            | crucifixion and resurrection of Jesus and now awaiting His second-coming to judge the world.

          p
            | The bible lists many end time prophecies that act as milestones in history by which we can see the
            | progress of God's plan and confirm the truth of it for ourselves.

          p
            | The warning signs are all too apparent. Watch
            a(href="https://www.youtube.com/playlist?list=PL44P8b5Aj7sqEOtH-jeEN2DJLa0iRNw9X", target="_blank") 
              | The Two Preachers
            | videos for
            | news and events happening across the globe, most of which you won't see in the news.

          p
            | The following articles are just a handful of examples from the start of 2020 that show God's plan is being fulfilled:

          h3 Taal Volcano, Philippines

          p
            img(src="/images/taal-volcano-eruption.jpg", alt="Taal Volcano Eruption - A pillar of smoke pushing through and above the clouds." title="Taal Volcano Eruption - A pillar of smoke pushing through and above the clouds.").img-rounded.img-responsive#mugshot

          p.text-center
            a(href="https://abcnews.go.com/Technology/wireStory/tiny-philippine-volcano-ejects-smoke-ash-villagers-flee-68226759", target="_blank")
              | A pillar of smoke pushing through and above the clouds.

          p
            +EVENT_DATE("12","JAN","2020")
            | Red-hot lava gushed out of a small volcano near the Philippine capital on Monday, as tens of thousands of people fled the area through heavy ash and frightening tremors.

          p
            | Clouds of ash blew more than 100 kilometers (62 miles) north of the Taal volcano on Sunday, reaching Manila, the bustling capital, and forcing the shutdown of the
            | country's main airport, with more than 500 flights cancelled.

          p
            | Taal had been restive for months until it suddenly rumbled back to life Sunday, blasting steam, ash and pebbles up to 10 to 15 kilometers (6 to 9 miles) into the sky,
            | according to the Philippine Institute of Volcanology and Seismology.

          a(href="https://cnnphilippines.com/news/2020/1/13/what-you-need-to-know-Taal-Volcano-eruption-2020.html", target="_blank")
            | Read the CNN article about this event ...

          h3 Bush Fires, Australia

          p
            img(src="/images/bushfire-australia.jpg", alt="A globally significant fire season in Australia." title="A globally significant fire season in Australia.").img-rounded.img-responsive#mugshot

          p.text-center
            a(href="https://www.nytimes.com/2020/01/21/world/australia/fires-size-climate.html", target="_blank")
              | A globally significant fire season in Australia.

          p
            +EVENT_DATE("21","JAN","2020")
            | The modern world has never seen anything quite like these Australia fires. About 16 million acres have burned in New South Wales and Victoria,
            | where the crisis is centred. That’s an area about the size of West Virginia. Millions more acres have burned in other parts of the country.

          p
            | What sets these blazes apart, in terms of their size, is that they are happening in populated areas. Until now, fires this large happened mostly
            | in places like northern Canada or Siberia, where few people live and blazes burn largely uncontrolled.

          p
            | “What we’re seeing in Australia, in a completely different environment, are fires that are approaching or even exceeding the magnitude of things
            | that we only saw in the most remote forested regions in the world,” said Ross Bradstock, the director of the Centre for Environmental Risk Management
            | of Bushfires at the University of Wollongong in New South Wales.

          p
            | “We’re looking at a globally significant fire season in Australia,” he added. The numbers from Australia dwarf those from some of the most
            | high-profile fires in recent years.

          p
            a(href="https://www.nytimes.com/2020/01/21/world/australia/fires-size-climate.html", target="_blank")
              | Read the full NY Times article ... 

          h3 Severe Floods, United Kingdom

          p
            img(src="/images/ironbridge-flooding.jpg", alt="A globally significant fire season in Australia." title="A globally significant fire season in Australia.").img-rounded.img-responsive#mugshot

          p.text-center
            a(href="https://www.bbc.co.uk/news/in-pictures-51657771", target="_blank")
              | In Pictures: UK flood-hit areas in the Midlands.

          p
            +EVENT_DATE("27","FEB","2020")
            | The barriers began to flex and move back towards properties due to the amount of pressure caused by the floodwater against them. Water pumps
            | are being used to reduce the amount of water behind the barriers.

          p
            | The Environment Agency has estimated that up to 500 tonnes of water per second is coursing past Ironbridge's flood defences and
            | says that it’s possible that depths of floodwater
            | along the Wharfage could get to 1.8m deep as flood barriers can no longer hold water.

          p
            | A peak level of 6.79m occurred at 9AM on Wednesday morning at Buildwas.

          p
            | This is not far from where we live. 
            a(href="https://www.shropshirelive.com/news/2020/02/27/ironbridge-flooding-severe-flood-warning-remains-in-place-as-barriers-are-overwhelmed/", target="_blank")
              | Read the full Shropshire Live article ... 

          h3 Locusts, East Africa

          p
            img(src="/images/locusts.jpg", alt="A man attempts to fend off a swarm of desert locusts." title="A man attempts to fend off a swarm of desert locusts.").img-rounded.img-responsive#mugshot

          p.text-center
            a(href="https://www.bbc.co.uk/news/in-pictures-51618188", target="_blank")
              | In Pictures: Hundreds of billions of locusts swarm in East Africa.

          p
            +EVENT_DATE("10","MAR","2020")
            | Hundreds of billions of locusts are swarming through parts of East Africa and South Asia in the worst infestation for a quarter of a century,
            | threatening crops and livelihoods.

          p
            | Scientists monitoring the movements of the worst locust outbreak in Kenya in 70 years are hopeful that a new tracking programme they will be
            | able to prevent a second surge of the crop-ravaging insects.

          p
            | The UN has described the locust outbreak in the Horn of Africa, and the widespread breeding of the insects in Kenya, Ethiopia and Somalia
            | that has followed, as “extremely alarming”.

          p
            a(href="https://www.theguardian.com/global-development/2020/mar/04/scientists-turn-to-tech-to-prevent-second-wave-of-locusts-in-east-africa", target="_blank")
              | Read the full article in The Guardian ... 

          h3 Corona Virus, World-Wide Pandemic

          p
            img(src="/images/corona-virus.jpg", alt="Corona Virus, World-Wide Pandemic." title="Corona Virus, World-Wide Pandemic.").img-rounded.img-responsive#mugshot

          p.text-center
            a(href="https://www.bbc.co.uk/news/business-51706225", target="_blank")
              | Corona Virus: A visual guide to the economic impact.

          p
            +EVENT_DATE("30","APR","2020")
            | The Corona virus outbreak, which was first detected in China, has infected people in 185 countries. Its spread has left
            | businesses around the world counting the costs.

          p
            a(href="https://www.bbc.co.uk/news/business-51706225", target="_blank")
              | Read the full BBC News article ... 

          h2 Shaken But Not Stirred

          p
            | The world is being shaken and that shaking is becoming more severe. God is turning up the volume! 
            | Despite this, much of the world remains shaken but not stirred.

          p
            | Now is the time to wake up. It is a time to witness both the goodness and severity of God.

          .quoteverse
            p
              b 9
              | The Lord is not slack concerning his promise, as some men count slackness; but is longsuffering to us-ward,
              | not willing that any should perish, but that all should come to repentance.
            p
              b 10
              | But the day of the Lord will come as a thief in the night; in the which the heavens shall pass away with a great noise,
              | and the elements shall melt with fervent heat, the earth also and the works that are therein shall be burned up.
            a(href="/kjv/2peter_3.html?goto=9-10") 2 Peter 3:9-10

          p
            | Repent: for the kingdom of heaven is at hand.
            | "And it shall come to pass, that whosoever shall call on the name of the LORD shall be delivered" (
            a(href="/kjv/joel_2.html?goto=32") Joel 2:32
            |).

          p.text-right
            | Tim Simpson
            br
            | 16th June, 2020
            br 
            span.badge.hashtag #ChristianDogWalker

          include ../../includes/page_blog_navigate.pug
          +BLOG_NAVIGATE("/blog/2020/01-walking-and-talking-with-god.html","")
  
        .col-md-4.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          aside
            .rightsidebar.hidden-print
              h3 Stuff

              h4 The Two Preachers

              p
                | What just happened in January 2020?
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/DJ0xSoZpGA8?list=PL44P8b5Aj7sqEOtH-jeEN2DJLa0iRNw9X")

              h4 Teaching

              p
                | Join Amir Tsarfati as he teaches what the Bible has to say concerning the return of Jesus Christ. 
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/6NXzhMjIUMM")

              h4 Articles

              p
                | Bible verses about 
                a(href="https://bible.knowing-jesus.com/topics/Day-Of-The-Lord", target="_blank") The Day of the LORD

              hr.featurette-divider

              h4 All Nations
              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/3YROz9BM2Xk")

              br

              .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(src="https://www.youtube.com/embed/JUK_gBVvbuI")
      // /row
    // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
