doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="What change for us in our house as a result of the COVID-19 Coronoa Virus.")
    title All Change!
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 All Change!
              hr.featurette-divider

              p
                span.firstcharacter
                  | T
                |he onset of the COVID-19 Coronoa Virus as a world-wide pandemic has had a massive impact
                | on the world, including loss of life, the collapse of the global economy and changes to our everyday ways of life.

              p
                | Here's how it unfolded (based on the notes I made in my daily journal) and what has changed for us in our house since then. 

              h2 The Initial Onset

              p
                | Like many things we hear about, the initial onset of COVID-19 was something that was happening
                | somewhere else, and to someone else. It wasn't happening here, and it certainly wasn't happening to us.

              p
                i
                  | [19th February, 2020] 
                | According to my journal, this is the first mention of the Corona Virus. 
                | I attended the usual 6:00AM Wednesday morning prayer meeting at church. We prayed for a solution to the virus.

              p
                i
                  | [23rd February, 2020] 
                | Even with severe flooding happening in different locations not too far from where we live (and stopping us going to some of the places
                | we sometimes frequent at weekends), life continued very much as before and later that week we attended a concert at the Birmingham NEC along with tens
                | of thousands of others with not so much a mention of the virus.

              p
                img(src="/images/shrewsbury-flooding.jpg", alt="Car park in Shrewsbury half-flooded." title="Car park in Shrewsbury half-flooded.").img-rounded.img-responsive

              p.text-center
                | Car park in Shrewsbury half-flooded.

              p
                i
                  | [10th March, 2020] 
                | Spoke to my Mum on the phone and was shocked to hear that her and my Dad were fearful of the virus and planning not
                | to go out at all. (I felt my sister had done a little too much scare-mongering.)
          
              p
                i
                  | [11th March, 2020] 
                | At work, the virus became an increasing topic of conversation with many fearing that the virus was spreading.

              p
                i
                  | [12th March, 2020] 
                | One of my work friends told me that he had gone out 
                | to the supermarket earlier that week and spent over £400 on stock-piling food and was planning to do so again very soon.
                | That seemed crazy.

              p
                | It was then that I realised that the virus was going to be a test of faith. Especially when I heard about
                | the plan to have a test day the following week with everyone in the company working from home.
              
              h2 Coming, Ready Or Not

              p
                i
                  | [14th March, 2020] 
                | Before any of us had time to think, the virus "arrived" in that suddenly our
                | church was unexpectedly closed. Our weekly Sunday service, planned for the 15th March, was cancelled. 

              p
                | This was a disappointing blow (😒) as we were all excited and greatly looking forward to celebrating our new church's first birthday
                | at the end of March 2020.

              p
                i
                  | [15th March, 2020] 
                | We decided to hold our first home church consisting of most of the members of our weekly church Life Group. Together we watched the 
                a(href="https://youtu.be/Lj7qILVdcsU", title="All Nations Sunday Service 15th March, 2020")
                  | All Nations Wolverhampton Sunday Service
                |  streamed live on YouTube. (Fortunately our church aleady recorded services and made good use of Social Media and was 
                | therefore quick to adapt to this unexpected change of circumstance.)

              p
                img(src="/images/all-nations-15-mar-2020.jpg", alt="Watching our Sunday service on-line." title="Watching our Sunday service on-line.").img-rounded.img-responsive

              p.text-center
                | Watching our Sunday service on-line.
              
              p
                | I decided to start working from home the very next day. Luckily, working from home was an option for me and something I was
                | more than used to.

              p
                i
                  | [23rd March, 2020] 
                | Just one week later, the Government declared the formal lockdown of the UK. Now not even our Life Group could meet together.

              h2 Then And Now

              p
                | The Corona Virus lockdown brought about many changes to everyday life. Here's a summary of how things were affected in our house.

              table.table.table-bordered
                thead
                  th(style="background-color: red;")
                    .text-center
                      | Things We Were Forced To Stopped Doing
                tbody
                  tr(style="background-color: lightpink;")
                    td
                      | The virus stopped us doing the following things:
                      ul
                        li Going out to places of interest.
                        li Eating out.
                        li Meeting for a coffee.
                        li Socialising with family and friends.
                        li Hugging and kissing family and friends.
                        li Care home visiting.
                        li Celebrating events with family and friends.
                        li Attending funerals.
                        li Going to church services.
                        li Attending church prayer meetings.
                        li Holding weekly church Life Group meetings in our home.
                        li Church baptism services.
                        li Watching Formula 1 Grand Prix Racing.
                        li Watching the Tour de France.
                        li Going to the cinema.
                        li Going to the hairdressers.
                        li Dog grooming.
                        li Commuting to work in the office.
                        li Chatting with work colleagues.
                        li Going on holiday.
                        li Clothes shopping.
                        li Visiting garden centres.
                        li Visiting our local DIY store.
                  tr
                    th(style="background-color: green;")
                      .text-center
                        | New Things We Started Doing
                  tr(style="background-color: lightgreen;")
                    td
                      ul
                        li
                          | Speaking 
                          a(href="/kjv/psalms_91.html", title="Psalm 91 - A psalm of protection.") Psalm 91
                          |  out loud each day over ourselves and our home.
                        li Taking communion together each day.
                        li Holding weekly church Life Group meetings on-line via Skype.
                        li Praying on-line via WhatsApp church prayer group.
                        li Watching Sunday church services on-line via YouTube.
                        li Thursday night Telford church service on-line via YouTube.
                        li Holding church meetings on-line via Zoom.
                        li Working from home full time.
                        li Helping Telford &amp; Wrekin Council deliver food parcels and support to vulnerable people in the community.
                        li Cutting our own hair.
                        li Watching Cirque du Soleil each week on YouTube.
                        li Video calling family and friends via WhatsApp.
                  tr
                    th(style="background-color: grey;")
                      .text-center
                        | Things We Continued / Increased (++) Doing
                  tr(style="background-color: lightgrey;")
                    td
                      ul
                        li Washing hands! ++
                        li Reading the bible. ++
                        li Prayer and fasting. ++
                        li Listening to worship music. ++
                        li Listening to Joseph Prince on-line. ++
                        li Shopping on-line. ++
                        li Jobs around the house and garden. ++
                        li Dog walking. ++

              p
                br
                | A couple of new phrases also emerged:
                br
                b
                  | "Get the worship music on!" (Alexa, play Elevation Worship)
                br
                | and
                br
                b
                  | "Can you get the communion stuff?"

              p
                img(src="/images/communion.jpg", alt="Ready for our daily communion." title="Ready for our daily communion.").img-rounded.img-responsive

              p.text-center
                | Ready for our daily communion.

              h2 Changes For The Better

              p
                | The lockdown certainly imposed a lot of unplanned changes on everyday life but having embraced them for several months now, some are certainly
                | changes for the better.
              
              p
                | We're no longer so self-indulgent and also much more appreciative and grateful for what we have. It's made us more
                | attentive to the needs of others and more pro-active in helping people.
              
              p
                | God has blessed us and kept us throughout these times. None of us want to return to the "old normal".

              p
                | Not all changes have been easy. Some have been very hard to cope with and still are. Particularly not being able to 
                | visit family and friends or participate in celebrations and family events.
              
              p
                | Social distancing rules put an end to
                | hugging and kissing and shaking hands. Rules around funerals also made it very difficult to support friends in times
                | of great need. We long for the day when we can meet with family and friends once again as before.

              p
                | Throughout all these things, and for however long they continue, we take strength from our faith which 
                | gives us great hope because we know that the Lord will cause all of these things to work for our good. Even when we can't see how!
                | Because we trust His word and because He has shown Himself faithful to keep His promises.

              .quoteverse
                p
                  b 28
                  | And we know that all things work together for good to them that love God,
                  | to them who are the called according to his purpose.
                a(href="/kjv/romans_8.html?goto=28") Romans 8:28

              p.text-right
                | Tim Simpson
                br
                | 24th June, 2020
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2020/02-signs-of-the-times.html","/blog/2020/04-spiritual-warfare.html")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 All Nations
                p
                  | Thursday 18th June, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/iHqAFy26hHM")

                br

                p
                  | Sunday 21st June, 2020
                  
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/HS2A2uUiswI")
        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
