doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="Nothing is as it seems. All around a spiritual war is raging.")
    title Spiritual Warfare
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 Spiritual Warfare
              hr.featurette-divider

              p
                span.firstcharacter
                  | N
                |othing is as it seems. All around a spiritual war is raging.
                | The war is taking place in the unseen, heavenly realms, between God and the rebel Satan, and spills over into the earthly realm.

              h2 What Does The War Look Like?

              p
                | It's classic good versus evil stuff!

              p
                | Since he was cast out of heaven, the devil has been wreaking havoc in the earth.

              .quoteverse
                p
                  b 8 
                  |   Be sober, be vigilant; because your adversary the devil, as a roaring lion, walketh about, seeking whom he may devour:
                a(href="/kjv/1peter_5.html?goto=8") 1 Peter 5:8

              p
                | Unlike God, who is omnipresent (everywhere at the same time), the devil can only be in one place at any one time
                | but his influence is widespread.
                
              p
                | Many of the spiritual battles and attacks that spill over into the earthly realm often have an "earthly" explanation instead of being
                | recognised as the work or influence of the evil one.

              p
                | For example, crime is often regarded as related to a person's upbringing.
                | Likewise, sickness and disease are linked to germs, genetics or poor diet.
                | Acts of terrorism, due to incorrect ideology.  

              h2 Soldiers Of Christ

              p
                | As Christians, we are not just going through a mere struggle on earth, which is why the bible employs terms like "warfare" and "soldiers of Christ".

              p
                | We ourselves were once part of the rebellion but now we rebel against it, fighting as chosen soldiers of Christ.

              .quoteverse
                p
                  b 3 
                  | Thou therefore endure hardness, as a good soldier of Jesus Christ.
                p
                  b 4 
                  | No man that warreth entangleth himself with the affairs of 
                  i
                    | this 
                  | life; that he may please him who hath chosen him to be a soldier.
                a(href="/kjv/2timothy_2.html?goto=3-4") 2 Timothy 2:3-4

              h2 Who Is Our Fight With?

              p
                | Our fight is not a war against flesh and blood i.e. is not a fight against people.

              .quoteverse
                p
                  b 12 
                  | For we wrestle not against flesh and blood, but against principalities, against powers, against the rulers
                  | of the darkness of this world, against spiritual wickedness in high 
                  i
                    | places.
                a(href="/kjv/ephesians_6.html?goto=12") Ephesians 6:12

              p
                | Many Christians mistake their battle to be an on-going fight against sin and the pursuit of holiness but Jesus has already won that battle for us.

              p
                | If you are not currently part of the fight then you have probably been taken captive without realising. 

              p
                | We fight that others might be set free and to protect ourselves from the attacks of the enemy.
                | We also fight to tear down the strongholds of the enemy and take back ground for our God.

              h2 Time To Decide

              p
                | There is no "sitting on the fence" in this war. You are either on one side or the other.
                | Only those who proclaim Jesus as their Lord and saviour can claim to be on God's side. 
                | Dare to stand and join the fight.

              p
                | Whose side are you on?

              p.text-right
                | Tim Simpson
                br
                | 4th July, 2020
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2020/03-all-change.html","/blog/2020/05-promises-of-protection.html")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 Teaching

                p
                  | Ravi Zacharias last preaching.

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/C7z-nk6WXC8")

                h4 Music

                p
                  | Fighting the spiritual battle with praise.

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/awkO61T6i0k")

                h4 Spiritual Warfare Testimony

                p
                  | The battle and miracle of Jaxon Taylor's healing.

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/fqlgKWZf4ak")

                h4 All Nations
                p
                  | Thursday 25th June, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/Anc-_4PDb3U")

                br

                p
                  | Sunday 28th June, 2020
                  
                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/GunPsA8qFZA")
        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
