doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="The wonderful promises of God's protection described in Psalm 91.")
    title Promises Of Protection
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 Promises Of Protection
              hr.featurette-divider

              p
                span.firstcharacter
                  | D
                |uring this uncertain time of the Corona virus, we have rested more than ever on God's promises of protection
                | as described in the bible by 
                a(href="/kjv/psalms_91.html", title="Psalm 91") Psalm 91
                |.

              p
                | We've made a habit of reciting this psalm out loud each day to remind ourselves that as believers God will keep us safe
                | and free from fear.

              h2 Psalm 91

              p
                | Here are the words of the psalm so you can read it for yourself:

              .quoteverse
                p
                  b 1 
                  | He that dwelleth in the secret place of the most High shall abide under the shadow of the Almighty.
                p
                  b 2 
                  | I will say of the LORD, He is my refuge and my fortress: my God; in him will I trust.
                p
                  b 3 
                  | Surely he shall deliver thee from the snare of the fowler, and from the noisome pestilence.
                p
                  b 4 
                  | He shall cover thee with his feathers, and under his wings shalt thou trust: his truth shall be thy shield and buckler.
                p
                  b 5 
                  | Thou shalt not be afraid for the terror by night; nor for the arrow that flieth by day;
                p
                  b 6 
                  | Nor for the pestilence that walketh in darkness; nor for the destruction that wasteth at noonday.
                p
                  b 7 
                  | A thousand shall fall at thy side, and ten thousand at thy right hand; but it shall not come nigh thee.
                p
                  b 8 
                  | Only with thine eyes shalt thou behold and see the reward of the wicked.
                p
                  b 9 
                  | Because thou hast made the LORD, which is my refuge, even the most High, thy habitation;
                p
                  b 10 
                  | There shall no evil befall thee, neither shall any plague come nigh thy dwelling.
                p
                  b 11 
                  | For he shall give his angels charge over thee, to keep thee in all thy ways.
                p
                  b 12 
                  | They shall bear thee up in their hands, lest thou dash thy foot against a stone.
                p
                  b 13 
                  | Thou shalt tread upon the lion and adder: the young lion and the dragon shalt thou trample under feet.
                p
                  b 14 
                  | Because he hath set his love upon me, therefore will I deliver him: I will set him on high, because he hath known my name.
                p
                  b 15 
                  | He shall call upon me, and I will answer him: I will be with him in trouble; I will deliver him, and honour him.
                p
                  b 16 
                  | With long life will I satisfy him, and shew him my salvation.
                a(href="/kjv/psalms_91.html") Psalm 91

              h2 What does Psalm 91 promise?

              p
                | Psalm 91 promises the following:
                ul
                  li For us to abide under the shadow of the Almighty (v1)
                  li Protection in times of grave danger (v3)
                  li Protection from deadly disease (v3)
                  li For God's truth to shield and defend us in combat (v4)
                  li Freedom from fear night and day (v5)
                  li Protection night and day (v6)
                  li Protection during battle (v7)
                  li To only witness and not experience God's reward of the wicked (v8)
                  li No evil will happen to us (v10)
                  li No plague will come near our dwelling (v10)
                  li Angelic protection in all we do (v11-12)
                  li Victory over our enemies (v13)
                  li For God to set us on high (v14)
                  li For God to accompany and deliver us in times of trouble (v15)
                  li For God to bestow honour upon us (v15)
                  li Answered prayer (v15)
                  li Long and satisfying life (v16)
                  li Salvation (v16)
            
              h2 How do we qualify for these promises?

              p
                | The following activities qualify a believer for the promises offered by Psalm 91:
                ul
                  li Dwell in the secret place of the most High (v1)
                  li Declare the Lord as our refuge and fortress (v2)
                  li Trust in the Lord (v2)
                  li Make the Lord our refuge and habitation (v9)
                  li Set our love upon the Lord (v14)
                  li Acknowledge the name of the Lord (v14)
                  li Call upon the Lord in times of trouble (v15)

              h2 Where exactly is this secret place of the most High?

              p
                | I believe the "secret place of the most High" is our prayer closet. That is the place where Jesus advises
                | us to go to and shut the door, away from everyone else, in order to be alone to pray to our Father in secret
                | where we won't be disturbed or distracted
                | (see 
                a(href="/kjv/matthew_6.html?goto=5-6", title="Matthew 6:5-6") Matthew 6:5-6
                |).

              p
                | This should also be our refuge in times of trouble, although not just in times of trouble but rather
                | on a regular basis such that we might be described as "dwelling" there as our habitation.

              h2 Take Hold Of The Promises

              p
                | These are just some of the great and precious promises offered by God to believers. Make them yours today!

              p.text-right
                | Tim Simpson
                br
                | 11th July, 2020
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2020/04-spiritual-warfare.html","")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 All Nations
                p
                  | Thursday 2nd July, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/kz5Q8OoMRbI")

                br
                p
                  | Sunday 5th July, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/hjpGD00rR4U")

                br
                p
                  | Thursday 9th July, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/pxdLCr1_VMQ")


        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
