doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="No matter what we go through, God is with us and remains faithful.")
    title He Is Faithful
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 He Is Faithful
              hr.featurette-divider

              p
                span.firstcharacter
                  | T
                |hree years ago today my grandma passed away to be with the Lord. It fills me with
                | emotion to think back to that time and how events unfolded that weekend. It left
                | me convinced that there are no coincidences in life, nothing that happens by chance, and that no matter what
                | circumstances we find ourselves in, God is with us and remains faithful.

              h2 That Weekend

              p
                | For me weekends start on Friday nights and that Friday night after work I made the familiar drive from Shropshire up to Yorkshire,
                | just over 140 miles door-to-door.

              p
                | I'd been meaning to make the trip for some time but something always seemed to come up that hampered my plans.
                | (Nothing hampers God's plans!)

              p
                | On arrival my mum informed me that my grandma was in hospital, very poorly with Cancer. 
                | She had lung cancer but now also had stomach cancer. 
                | As my mum said that, I heard the Lord say to me "tomorrow is the last time that you will see your grandma". Whoa!

              p
                | Inwardly I was shocked but did not share what the Lord had said to me as I needed to pray about it.
                | I'm not phased by sickness because I know the Lord can deal with that but this prediction of my future was something else. 

              p
                | My mum and I agreed that we would visit my grandma in hospital the next day. 
                | I went upstairs to pray.

              h2 Sound Advice

              p
                | My pastor had given me advice once that when anything significant happened that I should expect to pray
                | multiple times about it to be sure on how to react. This advice was certainly appropriate right now and is advice
                | that has always stuck with me.

              p
                | I prayed but must admit to being confused. I wanted to pray for healing but what God said implied that wasn't going to happen
                | so I decided to sleep on it.

              h2 Hospital Visiting

              p
                | The next day we drove into Hull to the hospital. My grandma was in a small four-bed ward and was as feisty as ever.
                | She seemed her usual self and didn't want to be in the hospital at all but rather at home. 

              p
                | She showed me a letter which explained her diagnosis. I can't remember the exact words but it didn't make for
                | good reading. She clearly accepted that her days were numbered and wanted very much to be at home.

              p
                | My mum questioned how practical it would be for my grandma to go home asking how she thought she would cope.
                | (I don't think my mum really latched on to my grandma's intention to merely go home to die. That was all she wanted.
                | Coping with being at home ultimately didn't matter.)

              p
                | My mum was also concerned that my grandma hadn't made a will. She asked my grandma who she wanted to betrothe gifts to,
                | noting her answers on the back of an envelope
                | and suggested we would come back tomorrow with it all formally written up so that she could sign her will and have it witnessed. My grandma
                | was okay with that.

              p
                | In between the questions my mum was asking about bethrothals I asked my grandma if she ever prayed when she was alone
                | in the hospital. She said she did.
              
              p
                | I was pleased as I wasn't totally sure where my grandma stood with God. She 
                | would always avoid talking about it but I knew she had a small bible and prayer book close to her armchair at home.
                
              p
                | I told her
                | that the bible says that Jesus prepares a place for us in heaven and then personally comes to receive us into that place
                | when we die (
                a(href="/kjv/john_14.html") John 14
                |). My grandma responded in agreement telling me that she had seen Him. I was so pleased for her. Yay!

              h2 A Sweet Goodbye

              p
                | We finally got to the end of visiting time. My grandma kissed me on the lips and then shocked my mum by hugging her.
                | Not something she would normally do at all.
                | My mum even remarked about it to me afterwards. I secretly knew why.

              p
                | We drove home and went straight into the town to buy a do-it-yourself will which my mum duly transcribed from her
                | envelope notes that evening.

              h2 The Next Day

              p
                | The next day my mum stayed at home and me and my dad went back to the hospital. It was raining.

              p
                | The nurse at reception hesitated and asked us to accompany her into a side room and sit down.
                | Another nurse then arrived and gave us the news that unfortunately, despite having had a good breakfast earlier that morning,
                | my grandma had taken a turn for the worse and passed away.

              p
                | My dad, having spent most of his working life in hospitals by profession, started saying something in response
                | but I'm not really sure what he said. Instead I heard the Lord say to me "I am faithful".
              
              p
                | I was blown away.

              h2 He Is Faithful

              p
                | I've long known that God uses death with a purpose and I knew that God used this situation to personally teach me (and others) a few things.

              P
                | The nurses asked me if I was okay and said I looked shocked. I said I was indeed shocked and then told them that I was a Christian and
                | witnessed to them in front of my dad (someone else who avoids talking about my faith) exactly what God had told me, and 
                | how it all worked out.

              p
                | I was reminded just how merciful God is. Even though I'd seen it before in how God gave my uncle, a self-confessed atheist, a wonderful last meal in
                | hospital, surrounded by all his family before he passed away.
              
              p
                | I had often wondered, living so far away in Shropshire, how I would receive the news about my grandma dying and whether
                | I would have had the chance to speak or be with her close to it happening.
                | But God was merciful to me. He arranged everything and gave me the chance to be there to say goodbye in person.
                | He also gave me advanced warning of what would happen.

              p 
                | He was merciful to my grandma too, she didn't have to die alone.

              p
                | I also realised that God was building my faith. I was living out something that would become a testimony in time to come.
                | Throughout the whole experience God was faithful to me. He never left me and went through the whole thing with me.
                | To Him be the glory forever.

              p.text-right
                | Tim Simpson
                br
                | 23rd July, 2020
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2020/06-under-attack.html","/blog/2020/08-grounded.html")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 Article

                p
                  a(href="https://www.bereanbiblesociety.org/hell-sheol-hades-paradise-and-the-grave/")
                    | Hell, Sheol, Hades, Paradise and the Grave


                h4 All Nations
                p
                  | Sunday 19th July, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/gpWI4s0fVlc")

                br
                p
                  | Thursday 23rd July, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/eQJcBhSDArc")


        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
