doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content='Putting Jesus at the centre of everything we do as individuals and as a church.')
    title Jesus At The Centre
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 Jesus At the Centre
              hr.featurette-divider

              p
                span.firstcharacter
                  | T
                | he vision statement for our All Nations church is "For all people to glorify God, by knowing Christ, becoming like Christ and making Christ known".

              h2 First Core Value

              p
                | We also have a number of core values, the first of which is "Jesus At The Centre".

              p
                | That's not Jesus at Telford Town Centre - although it could be, if you were wanting to represent Him and make Him known there! 😊

              p
                | It's about Jesus being at the centre of our lives and central to everything we do, both as individuals and as a church.

              p
                | We seek His presence.

              p
                | We seek His leading.

              p
                | We seek to follow His example.

              p
                | After all, Jesus is our role model.

              h2 An Opportune Reminder

              p
                | It struck me that it is such an opportune moment to be reminded about Jesus being at the centre.

              p
                | Watching the news unfold this year, you realise that the world is in turmoil.

              p
                | It's the kind of turmoil that Jesus talks about in 
                a(href="/kjv/matthew_24.html", title="Matthew 24") Matthew 24
                |  and the signs to expect in the end times prior to His return:

              ul
                li
                  | Fires burning out of control.
                li
                  | Floods.
                li
                  | Earthquakes.
                li
                  | Volcanic eruptions.
                li
                  | Pestilence like COVID-19.

              p
                | All of this is happening on a biblical scale across the world, with all of us impacted in one way or another.

              p
                | But despite this, even with all these things going on, causing fear, insecurity, even loss of life ...
              
              p
                | Jesus is still at the centre!

              p
                | He's still in control.

              p
                | He's not worried.

              p
                | And fortunately, He does not change either:
                | "He's the same yesterday, today and forever" (
                a(href="/kjv/hebrews_13.html?goto=8") Hebrews 13:8
                |).

              h2 We Have Peace And Reassurance

              p
                | Regardless of the circumstances we find ourselves in as individuals, or as a church,
                | we have His peace and reassurance as believers.
              
              p
                | Knowing that "all things work together for our good" (
                a(href="/kjv/romans_8.html?goto=28") Romans 8:28
                |) and that "no weapon formed against us can prosper" (
                a(href="/kjv/isaiah_54.html?goto=17") Isaiah 54:17
                |).

              p
                | We acknowledge as believers that Jesus is at the centre of everything and that
                | "all things were created by Him, and for Him" (
                a(href="/kjv/colossians_1.html?goto=16") Colossians 1:16
                |).

              h2 Why We Put Jesus At The Centre

              p
                | So why do we choose to put Jesus at the centre of our lives and everything we do?

              p
                | One obvious reason might be because of everything He has done for us by dying
                | on that cross in our place, even though He was without sin.

              p
                | So that we might be forgiven all our sins: past, present and future!
              
              p
                | So that we can stand before God, holy and without blame, accepted and loved by Him
                | as His children.

              p
                | The apostle Paul says that for this reason alone we should "offer our lives to Him
                | as a living sacrifice" (
                a(href="/kjv/romans_12.html?goto=1") Romans 12:1
                |).

              p
                a(href="/kjv/john_5.html?goto=23") John 5:23
                |  says that "all men should honour the Son, even as they honour the Father"
                | and that's not the only place in the bible where we are told to put Jesus at the centre.

              p
                a(href="/kjv/matthew_6.html?goto=33") Matthew 6:33
                |  tells us to "seek first the kingdom of God and His righteousness".

              p
                | The "righteousness of God" is Jesus, who has become our righteousness and 
                | to "seek the kingdom of God" is to do His will.

              h2 Putting Jesus At The Centre

              p
                | So how do we go about putting Jesus at the centre?

              p
                | I remember Pastor Steve Uppal talking about this a while back ...

              p
                | He talked about the acronym J.O.Y.
                
              p
                | Jesus first.
                
              p
                | Others second.
                
              p
                | Yourself last!
                
              p
                | This really is the key. It's all about priorities.
                
              p
                | Putting Jesus at the centre means putting Him first - ahead of everything else.

              h2 Christianity Is Not A Religion  
              p
                | We also have to remember that Christianity is not a religion - it's a relationship with Jesus.
                
              p
                | And like any worthwhile relationship, we need to put time into it.
                | Sometimes we have to sacrifice for it. 
                
              p
                | Maybe as a result of COVID-19 you need a break from relationships?
                | Maybe you want a little space for yourself.
                
              p
                | Hopefully not. 
                
              p
                | Hopefully you are closer and your relationship is stronger with those that you've spent
                | time with during lockdown.
                
              p
                | But being in relationship with Jesus is vital.
                
              p
                | He's the one who calms the storm.
                
              p
                | He's the best teacher.
                
              p
                | He's a great encourager.
                
              p
                | He's always there for us, 24x7.
                
              p
                | No matter where we are, He is with us, going before us.
                
              p
                | If we follow Him, we will never go wrong!

              h2 Relationship With Jesus

              p
                | Relationship with Jesus does require sacrifice.
                
              p
                | Jesus Himself says that to be His disciples we must "deny ourselves, take up our cross daily
                | and follow Him" (
                a(href="/kjv/luke_9.html?goto=23") Luke 9:23
                |).
                
              p
                | That's a life of submission.
                
              p
                | It's when we put down our agenda and pick up God's agenda.
                
              p
                | It's how Jesus lived. Doing the will of the Father, even unto death in His case.
                
              p
                | It's also how God wants us to live.
                
              p
                | This is what gives purpose and direction to our lives.
                
              p
                | We were born to fulfil His unique purpose for our lives. 
                | To walk out His good works that He prepared for us before the foundations of the world
                | were even set in place (
                a(href="/kjv/ephesians_2.html?goto=10") Ephesians 2:10
                |).
                
              p
                | He chose us, to bring Him glory!

              h2 Getting Jesus Centred

              p
                | So who's in the driving seat right now?
                
              p
                | Is it Jesus? Or is it you?
                
              p
                | Have you been driving Jesus to lots of places that He didn't want you to go to?
                
              p
                | Have you been listening to everything that Jesus has been trying to say to you?
                
              p
                | If you have not been listening, you are not alone. We all forget to do that at various times.

              h2 Distraction Is Rife

              p
                | Right now, more than ever, the devil is causing so many distractions in so many different ways
                | to take you away from relationship with Jesus.
                
              p
                | To stop you from really getting to know Jesus, from becoming more like Him each day
                | and from making Him known to others.
                
              p
                | The devil wants to steal your peace and joy and to stop you living a life of purpose for God.
                
              p
                | The devil wants you:
                ul
                  li Fearful.
                  li Depressed.
                  li Insecure.
                  li Frustrated.
                  li Or "fill in the blank" as Pastor Rick would say.
                
              p
                | That's why we need Jesus at the centre of our lives and of our church.
                
              p
                | To keep us grounded, putting our confident expectations and trust totally in Him.
                
              p
                | Not living merely to please others or to please ourselves but to please Him.
                
              p
                | He is the audience of one that we live for and serve.

              h2 Mary And Martha Decision Time

              p
                | Right now, it's like Mary and Martha decision time ...
                
              p
                | There are plenty of things that we could be doing to keep ourselves busy but
                | none are as profitable as sitting at the feet of Jesus and spending time with Him.

              p
                | So when all hell is breaking loose, or you are anxious and just don't know what to do ...
                
              p
                | Put Jesus back at the centre!
                
              p
                | Choose to make Him your agenda.

              h2 Promises From Jesus

              p
                | Remember what Jesus said (
                a(href="/kjv/matthew_11.html?goto=28-30") Matthew 11:28-30
                |):
               
              p
                b
                  | "Come to me, all ye that labour and are heavy laden,
                  br
                  | and I will give you rest.
                  br
                  | Take my yoke upon you, and learn of me;
                  br
                  | for I am meek and lowly in heart:
                  br
                  | and ye shall find rest unto your souls.
                  br
                  | For my yoke is easy, and my burden is light."
                
              p
                | If you read these words carefully, you'll realise that Jesus is making you promises.
                
              p
                | Promises about finding rest, about your yoke becoming easy and about your burdens becoming light.
                
              p
                | What's not to like about putting Jesus at the centre?
                
              p.text-right
                | Tim Simpson
                br
                | 23rd November, 2020
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2020/12-life-group-challenge.html","/blog/2020/14-the-greatest-gift.html")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 All Nations
                p
                  | Thursday 5th November, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/HI3y-bfuEd4")


        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
