doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content='Hope can only be found in God. His peace is the greatest gift.')
    title The Greatest Gift
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 The Greatest Gift
              hr.featurette-divider

              p
                span.firstcharacter
                  | I
                | t's the last day of the year. I imagine some have already said "good riddance" to 2020 and "roll on 2021"
                | but personally I wouldn't curse 2020.

              p
                | Every year is a gift and, just like an unwanted Christmas gift,
                | can easily be discarded by an ungrateful recipient if it fails to meet with expectations.

              p
                | But I can't helping wondering if 2020 was an opportunity and whether I made the most of it?

              h2 Great Expectations?

              p
                | I'm not sure what I was expecting from 2020 but I certainly wasn't expecting the Corona Virus pandemic or that
                | it would turn the whole world upside down.

              p
                | I knew God had said to me that "things would not continue as before"
                | towards the end of 2019 but it had only left me curious as to what might unfold. 

              h2 Christmas Traditions

              p
                | This year we put up our Christmas tree and Christmas lights early. In November!

              p
                | It was an act of defiance against the idea that Christmas might be cancelled this year.
                | Not in our house! No way would COVID-19 stop us celebrating the birth of Jesus.

              p
                | Normally, just before Christmas, I would drive up to Yorkshire to deliver family Christmas presents and
                | visit relatives in time to return home for the Christmas Carol Service at church. This journey often marks the start of 
                | "Christmas proper" for me but not this year - lockdown rules prevented it.

              p
                | I didn't get to sing Christmas carols at church either. I do so love the words of "O Little Town Of Bethlehem"
                | which talk about the "everlasting light" and the "wondrous gift" God silently gave to the world. 

              h2 Two Miracles

              p
                | Just when I wasn't sure if I'd taken from 2020 everything that I should, two miracles occurred on the last day of the year!

              h3 Miracle #1

              p
                | News of the first miracle was posted on our Lifegroup Leaders WhatsApp group. It read:

              p
                | Morning all, little testimony. 

              p
                | Yesterday I had a strong migraine. I don’t get them often, but once I have, I have to go to bed, nothing helps, sometimes even hurts next morning.

              p
                | So yesterday from around 4 pm my head started to hurt and was going worse and worse.

              p
                | As I was putting kids to bed around 8pm, my 3 year old Luke
                | just said: “I’ll pray for u! Pain go away in Jesus name now.”

              p
                | And I was instantly healed!

              p
                | Pretty powerful when 3 year old prays and you get healed, just waned to share that with u guys.

              h3 Miracle #2

              p
                | News of the second miracle was also posted on our Lifegroup Leaders WhatsApp group. It read:

              p
                | I was called to my mum's care home at 9 this morning and told my mum had had a stroke and was not expected to survive.

              p
                | I declared God's promise to me for 120 percent restoration for every day of her life that the devil has stolen from us.

              p
                | I declared that "he who would see good days (plural) must keep his tongue from evil".

              p
                | I whispered to my mum that she would see many more good days.

              p
                | I started to thank God for healing and thanked Him that she would wake up and recover and that she would laugh and smile with me this day.

              p
                | They asked me if I wanted her taken to hospital and I said "NO!"

              p
                | They told me she had the death rattle and that there was nothing they could do about it.

              p
                | I told them her life was not in my hands, nor theirs, but in the Lord's.
                | He has cared for her thus far and He would not fail.

              p
                | Young carers heard my witness to them and I told them my rock was my Jesus.

              p
                | We have had a miracle here. My mum has not had a stroke.

              p
                | She knew my voice and my touch. She woke up and sat up.

              p
                | She has laughed and smiled with us this afternoon. We have hugged and kissed her for the first time in ten months today.

              p
                | All vital signs returned to normal. She ate and drank.

              p
                | God is always faithful. He is always true. We must stand on His promises.

              p
                | She is nearly 93. He never left me for a moment. It's not over, however bad the situation, until He says so.

              p
                | Thank you for praying❤️

              h2 The Greatest Gift

              p
                | We may not know what the future holds but as believers we know who holds our future.

              p
                | 2020 taught me that the only reliable hope is to be found in God. There is no security
                | to be found in anyone or anything else. 

              p
                | It is so amazing to know the peace of Jesus and to receive His salvation as a free gift.
                | No matter what situation we may find ourselves in, He is with us and for us.

              p
                | We are not in control but God is.

              p
                | Why not put your life into His hands and become a part
                | of His plan? His peace can be yours today. It is the greatest gift.

              p.text-right
                | Tim Simpson
                br
                | 31st December, 2020
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2020/13-jesus-at-the-centre.html","")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 Music
                p
                  | Bethel Music: Peace

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/uW6xcmqfiY4")

                h4 All Nations
                p
                  | Thursday 17th December, 2020

                .embed-responsive.embed-responsive-16by9
                  iframe.embed-responsive-item(src="https://www.youtube.com/embed/ZBkRDFFKF5w")


        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
