doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="About ToDoBible.org. Read the Holy Bible and learn about what God's Word teaches us to do as believers because we love Jesus.")
    title About ToDo Bible
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/common_page.css', rel='stylesheet')
    link(href='css/root_page.css', rel='stylesheet')
  body(data-spy='scroll', data-target='#myScrollspy')
    include ./includes/root_page_menu.pug
    //
      Header
      ==================================================
    .container
      .headerblock.hidden-sm.hidden-xs
        .logoverse
          p
            | Whether therefore ye eat,
            br
            |              or drink, or whatsoever ye do,
            br
            |              do all to the glory of God.
          a(href='kjv/1corinthians_10.html?goto=31') 1 Corinthians 10:31
    //
      Main content
      ==================================================
    .container
      .row
        .col-md-2.hidden-print.hidden-sm.hidden-xs
          nav#myScrollspy
            ul.nav.nav-pills.nav-stacked.affix-top(data-spy='affix', data-offset-top='170')
              li.active
                a(href='#about')
                  b About ToDo Bible
              li
                a(href='#dedication') Dedication
              li
                a(href='#welcome') Welcome
              li
                a(href='#mystudy') My Bible Study
              li
                a(href='#kjv') King James Bible
              li
                a(href='#todo') Bible ToDo Lists
              li
                a(href='#twitter') Twitter
              li
                a(href='#thanks') Thanks
              li
                a(href='#workinprogress') Work In Progress
        // Main content block
        #about.col-md-7
          h1 About ToDo Bible
          hr.featurette-divider
          h2#dedication Dedication
          .alert.alert-info.text-center
            | This website is dedicated to the glory of the Lord Jesus Christ.
          h2#welcome Welcome
          img#mugshot.img-thumbnail.img-responsive(src='images/mugshot_tim.jpg', alt='Website Author: Tim Simpson', title='Website Author: Tim Simpson', width='151', height='220')
          p
            | Hello, my name is Tim Simpson from Telford, England. Thanks for visiting
            | ToDoBible.org today.
          p
            | This website is all about the practical application of the Holy Bible in daily life. 
            | It also documents my on-going journey as a disciple of Jesus Christ
            | studying the Holy Bible.
          h2#mystudy My Bible Study
          p
            | In studying the Holy Bible I desire to:
          ul
            li Learn what God has done for us.
            li Learn how God wishes us to live our lives as Christians and how He empowers us to do so.
            li Understand the true meaning of God's Word.
            li Learn more about God's character.
            li Learn more about the Holy Spirit.
            li Understand the facts and promises stated in the Holy Bible.
            li Grow in my relationship with Jesus and be taught by Him to become more like Him.
            li Understand my true identity in Christ.
            li Gain wisdom and greater spiritual maturity.
            li Increase in boldness for the gospel.
            li Play my part in God's plan for the body of Christ.
            li Witness the miraculous power of the Holy Spirit 
              | working in the world as I live each day to fulfil God's purpose for my life.
            li Share my learning and the good news of the gospel with others.
            li Live life abundantly as Jesus promised!

          h2#kjv King James Bible
          p
            | The King James Bible (also known as The Authorised Version) 
            | is presented as a faithful translation of God's Word
            | with the words of Christ highlighted in 
            span(class='woc') red
            | .
          p
            | My belief is that God's Holy Bible is not just something you read
            | but very much something you live, by God's grace, for His glory.
          p
            | The Holy Bible is to be read with the heart, not the head and
            | is best read accompanied by the author, the Holy Spirit. 
          p
            | Use the 
            a(href='kjv/king_james_bible_index_page.html') Bible Index Page
            |  to quickly navigate to any chapter of the bible.

          h2#todo Bible ToDo Lists
          p
            | The King James Bible presented on this website is annotated with ToDo items which appear
            | as drop-down lists beneath bible verses when present. They serve as reminders of how 
            | God's Word teaches us to live as disciples of Jesus.
          p
            | In creating the ToDo items I have often spent time in prayer for revelation from the Holy Spirit and
            | much time studying articles or listening to audio commentaries / sermons as well as analysing  
            | verse context and looking at the Greek or Hebrew.
          p
            | ToDo items are classified into particular types and there is a 
            a(href='todo/bible_todo_list_disclaimer.html#key') ToDo Item Key
            |  explaining the colour coding and letter symbols used
            | for each ToDo item type.
          p 
            | I have sincerely tried to remain faithful at all times to the
            | text of the Holy Bible and this has been a labour of love. 
            | For example, the book of 
            a(href='kjv/ephesians_1.html') Ephesians
            |  took me over a year to complete and
            | I still have many other books and chapters of the Holy Bible 
            | to study but the timing is entirely in God's hands.
          p
            | The ToDo items are also listed separately as full ToDo lists as follows:
          ul
            li
              a(href='todo/bible_todo_list_ultimate.html') Ultimate Bible ToDo List
            li
              a(href='todo/bible_todo_list.html') Bible ToDo List (By Topic)
            li
              a(href='todo/bible_todo_list_by_bible_book.html') Bible ToDo List (By Bible Book)
            li
              a(href='todo/bible_todo_list_by_a_to_z.html') Bible ToDo List (By A-Z)
          p
            | To make finding ToDo items for topics easier there is a 
            a(href='todo/bible_todo_topics_index.html') Bible ToDo List Topic Index
            |  listing topics alphabetically.
          p 
            strong Important Note: 
            | Consideration of all ToDo items and ToDo lists presented on this website should respect the following 
            a(href='todo/bible_todo_list_disclaimer.html') disclaimer
            | .
  
          h2#twitter Tweets Of Encouragement
          p
            img.img-circle(src='images/twitter.svg', width='40', height='40', align='left', alt='Twitter Logo', id='tweet')
            |             You can 
            a(href='https://twitter.com/ToDoBible') contact or follow @ToDoBible on Twitter
            |             to learn about updates to the Bible ToDo List as well as to receive tweets of encouragement.
            |             Feedback is always most welcome.
          p
            | I also occasionally share some of my photographs of God's awesome handywork and links to articles and videos 
            | I found helpful.
          h2#thanks Thanks
          p
            | My sincere thanks and deep gratitude go the following people and organisations:
          ul
            li To the 
              a(href='http://www.tbsbibles.org', target='_blank') Trinitarian Bible Society
              |  for providing the electronic text of the King James Bible.
              |  Every effort was made to programatically verify that the bible text contains no mistakes following the
              |  repagination and conversion of the text to the HTML format used on this website.
            li To the 
              a(href='https://billygraham.org/', target='_blank') Billy Graham Evangelistic Association
              |  for providing free resources, training and inspirational films to churches.
            li To  
              a(href='https://www.samaritanspurse.org/', target='_blank') Samaritan's Purse International Relief
              |  for taking the love of God and the gospel of hope to people across the globe in times of crisis.
            li To the 
              a(href='https://www.blueletterbible.org/', target='_blank') Blue Letter Bible Institute
              |  for providing such a vast library of excellent free bible study resources and tools which have been 
              | such a great help to me in my personal bible study for ToDoBible.org.
            li To Todd White and everyone at  
              a(href='https://lifestylechristianity.com/', target='_blank') Lifestyle Christianity
              |  for the awesome encouragement to share Jesus everywhere every day and for the 
              a(href='https://lifestylechristianity.com/messages/', target='_blank') inspirational documentaries, training videos and testimonies
              ="."
            li To Darren Wilson and everyone at  
              a(href='https://www.wpfilm.com/', target='_blank') WP Films
              |  for your awesome and provoking films and for the book 
              a(href='http://store.wpfilm.com/filming-god/', target='_blank') Filming God
              ="."
              | I really enjoyed following the behind-the-scenes making of Holy Ghost and seeing the impact the end product had on family, friends
              | and work colleagues. These are must watch films!
            li To Curry Blake and everyone at  
              a(href='http://www.jglm.org/', target='_blank') John G. Lake Ministries
              |  for the excellent resources including the 
              a(href='https://john-g-lake-ministries.myshopify.com/collections/divine-healing-technicians', target='_blank') Divine Healing Technician Training Course
              ="."
              |  I have witnessed miracles of healing as a result of praying for people and I know it wasn't me that did it! Glory to Jesus! Yay!
            li To 
              a(href='https://www.josephprince.org/', target='_blank') Joseph Prince Ministries
              |  for excellent bible teaching, inspiring testimonies and great books. Preach it Pastor Prince! You have a "good Amen" from me.
            li To Amir Tsarfati and everyone at   
              a(href='http://beholdisrael.org/', target='_blank') Behold Israel
              |  for excellent bible prophecy teaching, DVDs and videos. Really enjoyed the "Days of Ezekiel". Have a list of questions for next time I see you!
            li To my amazing wife for so many reasons ...
            li To Jesus for laying down His life to save me when I was dead in sins and for giving me a hope and a purpose for my life.
              |  I have tasted and seen that the Lord is good!
          
          h2#workinprogress Work In Progress
          p
            | This website is a work in progress and is continually being updated as I progress and share more
            | of my learning and revelation of God's Word.
          p
            | I sincerely hope and pray that ToDoBible.org blesses and encourages you. 
          p
            | Please visit again soon.
        .col-md-3.hidden-print
          hr.featurette-divider.hidden-md.hidden-lg
          .rightsidebar
            // <rightsidebar>
            h3 ToDo Bible News
            h4 30th March, 2018 (Good Friday)
            p
              | Thank you Jesus for laying down your life 
              | for the sins of the world.
            h4 21st February, 2018
            p
              | Thank you for all the preaching and teaching Billy Graham 
              | and for sharing the good news of Jesus Christ with millions
              | over the years. Now take your rest. 
              | Well done, good and faithful servant.
            h4 1st January, 2018
            p
              | Happy new year!
            h4 25th December, 2017
            p
              | Happy birthday Jesus!
              | Thank you for coming in person on the greatest rescue mission the world has ever known.
            h4 7th November, 2017
            p
              | Happy 99th birthday Billy Graham!
              | God bless you and everyone at the 
              a(href='https://billygraham.org/', target='_blank') Billy Graham Evangelistic Association
              |.
            h4 4th September, 2017
            p
              | Added two new ToDo item types to better highlight the character of God and identity in Christ.
              | Also added new ToDo items.
            h4 14th August, 2017
            p
              | Enhanced bible pages to show ToDo list items as drop-down sections beneath bible verses. Also updated ToDo lists.
            h4 29th June, 2017
            p
              | Updated ToDo lists.
            h4 31st May, 2017
            p
              | Updated ToDo lists and added classification of ToDo items into types with a key to explain their meaning.
              | Also introduced a separate "Not By Works" disclaimer page to reassure readers that this website is <u>not</u> promoting salvation by works.
            h4 16th April, 2017
            p
              | He is risen. Jesus is alive forever more!
            h4 14th April, 2017
            p
              | Today (Good Friday), we remember what you did on the cross Lord Jesus.
            h4 11th April, 2017
            p
              | Major re-work to make website more responsive to different screen resolutions and mobile devices.
          // </rightsidebar>
      // /row
    // /container
    footer.footer
      .container.text-center
        hr.featurette-divider
        p
          | Copyright © 2018 ToDoBible.org. All rights reserved. 
          a(href='#')
            small Top of page
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='script/bootstrap.min.js')
