doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content="ToDoBible.org home page. Read the Holy Bible and learn about what God's Word teaches us to do as believers because we love Jesus.")
    meta(name="msvalidate.01" content="DE4E764512C99833C1422786124C03F2")
    title ToDo Bible Home Page
    // Bootstrap
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/common_page.css', rel='stylesheet')
  body
    include ./includes/root_page_menu.pug

    main
      //
        Primary marketing message or call to action
        ==================================================
      .container
        .jumbotron.text-center
          h1 Be Encouraged
          p
            | God has a plan and purpose for your life!
          p
            | Read the bible to discover your true identity 
            | and learn who you were created to be.
        hr.featurette-divider
        //
          Main content features
          ==================================================
      .container.text-center
        // Three columns of text below the jumbotron / carousel
        .row
          .col-sm-4
            img(src='images/bible.svg', width='178', height='178', alt='King James Bible', title='King James Bible')
            h2 Read The Bible
            p
              | Read the King James Bible with the words of Jesus highlighted in 
              span(class='woc') red
              | .
            p
              a.btn.btn-lg.btn-primary(href='kjv/genesis_1.html', role='button') Start Reading The Bible »
            hr.featurette-divider.hidden-sm.hidden-md.hidden-lg
          // /.col-sm-4
          .col-sm-4
            img(src='images/checklist.svg', width='178', height='178', alt='Bible ToDo List', title='Bible ToDo List')
            h2 Bible ToDo List
            p
              | What God's Word teaches us to do as followers of Jesus.
            p
              a.btn.btn-lg.btn-primary(href='todo/bible_todo_list.html', role='button') Bible ToDo List »
            hr.featurette-divider.hidden-sm.hidden-md.hidden-lg
          // /.col-sm-4
          .col-sm-4
            img(src='images/blogging.svg', width='178', height='178', alt='Blog', title='Blog')
            h2 Blog
            p
              | Living the Christian life with passion and purpose. Follow my journey.
            p
              a.btn.btn-lg.btn-primary(href='blog/blog-index.html', role='button') Blog Index »
          // /.col-sm-4
        // /.row

    include includes/page_footer.pug
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='script/bootstrap.min.js')
