doctype html
html(lang='en-GB')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='keywords', content='bible todo list, King James holy bible, words of Jesus, commandments of Jesus, bible index, bible to do items')
    meta(name='description', content='God is real.')
    title Christianity is not a spectator sport - join forces with Jesus on the battlefield!
    // Bootstrap
    link(href='../../css/bootstrap.min.css', rel='stylesheet')
    link(href='../../css/common_page.css', rel='stylesheet')
    link(href='../../css/blog_page.css', rel='stylesheet')
  body
    mixin EVENT_DATE(day,month,year)
      span.event-day
        | &nbsp;#{day}&nbsp;
      span.event-month
        | &nbsp;#{month}&nbsp;
      span.event-year
        | &nbsp;#{year}&nbsp;
      |&nbsp;
    include ../../includes/root_page_menu.pug
    include ../../includes/resource_page_header.pug
    //
      Main content
      ==================================================
    main
      .container
        .row
          // Main content block
          .col-md-8
            article
              h1 Jesus On The Battlefield
              hr.featurette-divider

              p
                span.firstcharacter
                  | T
                | he Bible says "Greater love hath no man than this, that a man lay down his life for his friends."
                | (See 
                a(href="/kjv/john_15.html?goto=13") John 15:13
                |.)

              p 
                | If you study World War I or II from the perspective of the eye witness testimonies of those who were there and survived, 
                | you will hear of countless acts of the selfless and heroic bravery of those who risked or laid down their lives for their friends 
                | on the battlefield.

              h2 Tearful Men, Lost For Words

              p 
                | You will see tearful men, lost for words as they remember witnessing comrades in arms cut down or badly 
                | maimed by the enemy. Some suffering from guilt, not knowing why they were chosen to survive the horrors of war instead of others.
                | These may be stories that they have kept hidden for decades but thought quietly about every day.

              p 
                | You will also hear that "there are no athiests in fox holes". 

              h2 Not All Soldiers Bear Arms 

              p 
                | Desmond Doss was a Combat Medic in the US Army during World War II.  
                | As a conscientious objector he refused to carry a weapon and was armed only with his Bible and his faith in God.
                | This led to persecution and even a failed attempt to court martial him and eject him from the army
                | during his army training.

              p
                | His faith meant his objective was to save lives, not take them.
                | He was never afraid to run directly into the heat of battle in response to the cry "Medic!", regardless of 
                | the danger to his own person.

              p 
                | He was sent into battle against the Japnese in Okinawa  
                | at Hacksaw Ridge where very heavy casualties were amassed and troops had been told to fall back.
                | Desmond Doss chose not to fall back. He said he prayed the whole time asking God to "just let me get one more"
                | as he sought to rescue his wounded comrades abandoned in no man's land.

              p
                | As a result of his actions that day, he rescued seventy-five men and became the first conscientious objector to be decorated with the
                | Medal of Honor, America's highest award for bravery and courage under fire.

              p 
                | His modesty caused him to credit all of his success to God and to not regard himself as a hero.

              p
                | His comrades, who once considered him a misfit and a coward for his stance 
                | on refusing to carry a weapon, later considered him one of the bravest persons alive.

              p
                | Even when wounded and in need of evacuation, he insisted that others be rescued ahead of him.

              h2 Bands Of Brothers Ignoring The Affairs Of This Life

              p 
                | There is something about warfare that causes soldiers from disparate locations to bond and gain a respect for one another,
                | putting their lives in each others hands.

              p
                | The Bible says "No man that warreth entangleth himself with the affairs of this life; that he may please him who hath chosen him to be a soldier."
                | (See 
                a(href="/kjv/2timothy_2.html?goto=4") 2 Timothy 2:4
                |.)

              p 
                | Soldiers are expected to obey their commanders, even when in the most fierce of battles with odds vastly stacked against them
                | and even when asked to pursue what would appear from the outset to be a suicide mission. 
                | Yet few soldiers disobey their orders.

              h2 Today Battle Is Raging All Around Us 

              p 
                | You may not realise it but the fight between good (God) and evil (the soon to be defeated devil) continues all around us.
                | This is spiritual warfare, not like the warfare we imagine when we think of previous world wars.
                
              p
                | The many signs of it 
                | overflow into the natural world for us to see.
                | Many are sick, others are dying with no saving knowledge of Christ and bound for eternal separation from God.

              p 
                | Everyone on Earth is involved in this warfare although not everyone chooses to be active in the battle.

              h2 In The Last Days Dangerous Times Shall Come

              p  
                | If you can read the 
                a(href="/blog/2020/02-signs-of-the-times.html", title="Signs Of The Times" alt="Signs Of The Times") signs of the times
                | you will already be aware that we are living in what the Bible calls "the last days" and that many 
                | of the signs described in the Bible and also happening in the world today, prove that. These are described as mere birth pains 
                | prior to the second-coming of Christ.

              p 
                | Right now, the devil is on a killing spree, knowing that his time is short before the return of Christ.

              p
                | The first-coming of Christ was to declare God the Father's love for the world (see 
                a(href="/kjv/john_3.html?goto=16", title="For God so loved the world ..." alt="For God so loved the world ...") John 3:16
                =")"
                | by offering a free means of salvation to 
                | reconcile sinful man back to God thereby escaping the wrath and judgement of God through faith in His son. 

              p 
                | The second-coming of Christ will be in the power and judgement of God. It will mark the start of seven years of tribulation. (See 
                a(href="/kjv/joel_2.html?goto=15", title="The Day Of The Lord" alt="The Day Of The Lord") Joel 1:15
                | , 
                a(href="/kjv/obadiah_1.html?goto=15", title="The Day Of The Lord" alt="The Day Of The Lord") Obadiah 15
                =".)"

              h2 Join Forces With Jesus On The Battlefield
              
              p 
                | Jesus was not only happy to risk His life for you but He actually gave His life for you! He's on the battlefield 
                | today, ready and willing to rescue and save anyone who will call upon Him. 

              p 
                | Child of God, will you become a soldier of Christ in these last days?

              p 
                | Will you deny yourself, take up your cross and follow Jesus daily?

              p 
                | Will you stand beside Him on the battlefield?

              p 
                | What role will you play?

              p 
                | It is one thing to hear and believe the Word of God but it is another thing entirely to do the Word of God 
                | and we are commanded to bear much fruit! Fortunately God has already prepared those good works for us to perform.

              h2 Christianity Is Not A Spectator Sport
              
              p
                | As Christians, now is the time to awake out of sleep, to break free from the distractions of the devil, to put on the armour
                | of God and join Jesus on the battlefield. It's time to shake off the affairs of this life and contend for the faith.

              p
                | The weapons of our warfare are not carnal. Neither is our enemy flesh and blood.

              p
                | God has given us each gifts to play our unique role in His plan and fulfil our destiny by performing 
                | those good works that He prepared for us before the foundations of the world were put in place. (See 
                a(href="/kjv/ephesians_2.html?goto=10", title="Good Works" alt="Good Works") Ephesians 2:10
                =".)"

              p 
                | Remember, we can do all things through Christ who strengthens us. His grace is sufficient.

              p
                | There are many who say "yes" to the Father but who do not do His will. Let not that be said of you or I
                | but instead let it be said to us "Well done my good and faithful servant"!

              p.text-right
                | Tim Simpson
                br
                | 18th March, 2023
                br 
                span.badge.hashtag #ChristianDogWalker

              include ../../includes/page_blog_navigate.pug
              +BLOG_NAVIGATE("/blog/2021/18-always-good-news.html","")
    
          .col-md-4.hidden-print
            hr.featurette-divider.hidden-md.hidden-lg
            aside
              .rightsidebar.hidden-print
                h3 Stuff

                h4 Book Recommendation 

                p 
                  | Read "The Todd White Story: Life Is Short - Leave A Legacy"
                  | and learn what it looks like to burn for Jesus.

                p
                  a(href="https://www.amazon.co.uk/Life-Short-Leave-Legacy-Todd-White-ebook/dp/B08VQLJ1SB/ref=sr_1_1?dchild=1&keywords=todd+white&qid=1620817302&s=digital-text&sr=1-1") 
                    img(src="/images/todd-white-book.jpg", alt="Book: Life Is Short - Leave A Legacy" title="Book: Life Is Short - Leave A Legacy").img-rounded.img-responsive
                
        // /row
      // /container
    include ../../includes/page_footer.pug
    script(type='text/javascript', src='../../script/biblenav.js')
    //
      jQuery (necessary for Bootstrap's JavaScript plugins)
      originally from: https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js
    script(src='../../script/jquery-1.12.4.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='../../script/bootstrap.min.js')
